<section class="about-section">
  <div class="container about-section__container">
    <h2 class="visually-hidden">About Our Kitchen</h2>
    <div class="complex about-section__complex">
      <span class="complex__text">Amet minim mollit non</span>
      <span class="complex__logo" aria-label="Mimino">Mimino</span>
    </div>
    <ul class="about-section__list list">
      <li class="about-section__item">
        <p class="about-section__descr mb28px">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture>
          <!-- Mobile -->
          <source
            src="./images/restaurant-interior-mobile.jpg?as=webp&width=244  1x,
            ./images/restaurant-interior-mobile.jpg?as=webp&width=488 2x,
            ./images/restaurant-interior-mobile.jpg?as=webp&width=732  3x"
            media="(max-width:1023px)"
            sizes=""
            type="image/webp"
          />
          <source
            src="./images/restaurant-interior-mobile.jpg?&width=244  1x,
            ./images/restaurant-interior-mobile.jpg?&width=488 2x,
            ./images/restaurant-interior-mobile.jpg?&width=732  3x"
            media="(max-width:1023px)"
            sizes=""
            type="image/jpeg"
          />
          <!-- Desktop -->
          <source
            src="./images/restaurant-interior-desktop.jpg?as=webp&width=460  1x,
            ./images/restaurant-interior-desktop.jpg?as=webp&width=920 2x,
            ./images/restaurant-interior-desktop.jpg?as=webp&width=1380  3x"
            media="(min-width:1280px)"
            sizes=""
            type="image/webp"
          />
          <source
            src="./images/restaurant-interior-desktop.jpg?&width=460  1x,
            ./images/restaurant-interior-desktop.jpg?&width=920 2x,
            ./images/restaurant-interior-desktop.jpg?&width=1380  3x"
            media="(min-width:1280px)"
            sizes=""
            type="image/jpeg"
          />
          <!-- Tablet -->
          <source
            src="./images/restaurant-interior-tablet.jpg?as=webp&width=400  1x,
            ./images/restaurant-interior-tablet.jpg?as=webp&width=800 2x,
            ./images/restaurant-interior-tablet.jpg?as=webp&width=1200  3x"
            media="(min-width:1024px)"
            sizes=""
            type="image/webp"
          />
          <source
            src="./images/restaurant-interior-tablet.jpg?&width=400  1x,
            ./images/restaurant-interior-tablet.jpg?&width=800 2x,
            ./images/restaurant-interior-tablet.jpg?&width=1200  3x"
            media="(min-width:1024px)"
            sizes=""
            type="image/jpeg"
          />
          <img
            class="about-section__img about-section__img--bigger"
            src="./images/restaurant-interior-tablet.jpg"
            alt="The chef is preparing a dish"
          />
        </picture>
      </li>
      <li class="about-section__item">
        <p class="about-section__descr about-section__descr--accent">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="about-section__img about-section__img--normal"
          src="./images/restaurant-dishes.jpg"
          alt="Steak on cutting board"
        />
      </li>
    </ul>

    <!-- Slider -->

    <div class="slick">
      <div class="slick-small slick-small__list list">
        <div class="slick-small__item">
          <img
            class="slick-small__box"
            src="./images/restaurant-slider.jpg"
            alt="The cook prepares the dough"
          />
        </div>
        <div class="slick-small__item">
          <img
            class="slick-small__box"
            src="./images/restaurant-slider.jpg"
            alt="The cook prepares the dough"
          />
        </div>
        <div class="slick-small__item">
          <img
            class="slick-small__box"
            src="./images/restaurant-slider.jpg"
            alt="The cook prepares the dough"
          />
        </div>
      </div>
    </div>
  </div>
</section>
