<section class="hero overlay-rest js-bg">
  <div class="container hero__body">
    <h1 class="hero__logo" aria-label="Міміно">Mimih<span>o</span></h1>
    <p class="hero__title">Ресторан</p>
    <p class="hero__text">смак життя 24/7</p>
    <div class="hero__adress-buttons">
      <a
        class="hero__address link"
        href="https://goo.gl/maps/457WkDfu1oCbckBM7"
        target="_blank"
        rel="noopener noreferrer nofollow "
      >
        <div class="hero__address-location">
          <svg width="20" height="20" class="hero__address-icon">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>
        </div>
        <p class="hero__address-map">
          Україна, м. Полтава, вул. Маршала Бірюзова, 15
        </p>
      </a>
      <ul class="hero__buttons-list list">
        <li class="hero__item">
          <button
            type="button"
            class="hero__button button js-open-modal"
            data-modal="1"
          >
            Забронювати столик
          </button>
        </li>
        <li class="hero__item">
          <a href="#menu" id="menu-link" class="hero__button button link">
            Переглянути меню
          </a>
        </li>
      </ul>
    </div>
    <ul class="hero__soc list">
      <li class="hero__soc-item">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
          class="link"
        >
          <svg width="24" height="24" class="hero__soc-icon">
            <use href="./images/icons.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li class="hero__soc-item">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noreferrer noopener"
          class="link"
        >
          <svg width="24" height="24" class="hero__soc-icon">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero__soc-item">
        <a
          href="https://web.telegram.org/"
          target="_blank"
          rel="noreferrer noopener"
          class="link"
        >
          <svg width="24" height="24" class="hero__soc-icon">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
