<section class="about-section">
  <div class="container about-section__container">
    <h2 class="visually-hidden">Про нашу кухню</h2>

    <div class="about-section__first-box">
      <div class="about-section__text-box mb28px">
        <div class="complex about-section__complex">
          <span class="complex__text">Amet minim mollit non</span>
          <span class="complex__logo" aria-label="Mimino">Mimino</span>
        </div>
        <p class="about-section__descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <!-- Mobile -->
        <source
          srcset="
            ./images/restaurant-about/restaurant-interior-mobile.jpg?as=webp&width=244 1x,
            ./images/restaurant-about/restaurant-interior-mobile.jpg?as=webp&width=488 2x,
            ./images/restaurant-about/restaurant-interior-mobile.jpg?as=webp&width=732 3x
          "
          media="(max-width:1023px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/restaurant-about/restaurant-interior-mobile.jpg?width=244 1x,
            ./images/restaurant-about/restaurant-interior-mobile.jpg?width=488 2x,
            ./images/restaurant-about/restaurant-interior-mobile.jpg?width=732 3x
          "
          media="(max-width:1023px)"
          type="image/jpeg"
        />
        <!-- Desktop -->
        <source
          srcset="
            ./images/restaurant-about/restaurant-interior-desktop.jpg?as=webp&width=460  1x,
            ./images/restaurant-about/restaurant-interior-desktop.jpg?as=webp&width=920  2x,
            ./images/restaurant-about/restaurant-interior-desktop.jpg?as=webp&width=1380 3x
          "
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/restaurant-about/restaurant-interior-desktop.jpg?width=460  1x,
            ./images/restaurant-about/restaurant-interior-desktop.jpg?width=920  2x,
            ./images/restaurant-about/restaurant-interior-desktop.jpg?width=1380 3x
          "
          media="(min-width:1280px)"
          type="image/jpeg"
        />
        <!-- Tablet -->
        <source
          srcset="
            ./images/restaurant-about/restaurant-interior-tablet.jpg?as=webp&width=400  1x,
            ./images/restaurant-about/restaurant-interior-tablet.jpg?as=webp&width=800  2x,
            ./images/restaurant-about/restaurant-interior-tablet.jpg?as=webp&width=1200 3x
          "
          media="(min-width:1024px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/restaurant-about/restaurant-interior-tablet.jpg?width=400  1x,
            ./images/restaurant-about/restaurant-interior-tablet.jpg?width=800  2x,
            ./images/restaurant-about/restaurant-interior-tablet.jpg?width=1200 3x
          "
          media="(min-width:1024px)"
          type="image/jpeg"
        />
        <img
          class="about-section__img about-section__img--bigger"
          src="./images/restaurant-about/restaurant-interior-tablet.jpg"
          alt="The chef is preparing a dish"
        />
      </picture>
    </div>
    <div class="about-section__second-box">
      <p class="about-section__descr about-section__descr--accent">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <!-- Mobile -->
        <source
          srcset="
            ./images/restaurant-about/restaurant-dishes-mobile.jpg?as=webp&width=200 1x,
            ./images/restaurant-about/restaurant-dishes-mobile.jpg?as=webp&width=400 2x,
            ./images/restaurant-about/restaurant-dishes-mobile.jpg?as=webp&width=600 3x
          "
          media="(max-width:1023px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/restaurant-about/restaurant-dishes-mobile.jpg?width=200 1x,
            ./images/restaurant-about/restaurant-dishes-mobile.jpg?width=400 2x,
            ./images/restaurant-about/restaurant-dishes-mobile.jpg?width=600 3x
          "
          media="(max-width:1023px)"
          type="image/jpeg"
        />
        <!-- Desktop -->
        <source
          srcset="
            ./images/restaurant-about/restaurant-dishes-desktop.jpg?as=webp&width=460  1x,
            ./images/restaurant-about/restaurant-dishes-desktop.jpg?as=webp&width=920  2x,
            ./images/restaurant-about/restaurant-dishes-desktop.jpg?as=webp&width=1380 3x
          "
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/restaurant-about/restaurant-dishes-desktop.jpg?width=460  1x,
            ./images/restaurant-about/restaurant-dishes-desktop.jpg?width=920  2x,
            ./images/restaurant-about/restaurant-dishes-desktop.jpg?width=1380 3x
          "
          media="(min-width:1280px)"
          type="image/jpeg"
        />
        <!-- Tablet -->
        <source
          srcset="
            ./images/restaurant-about/restaurant-dishes-tablet.jpg?as=webp&width=350  1x,
            ./images/restaurant-about/restaurant-dishes-tablet.jpg?as=webp&width=700  2x,
            ./images/restaurant-about/restaurant-dishes-tablet.jpg?as=webp&width=1050 3x
          "
          media="(min-width:1024px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/restaurant-about/restaurant-dishes-tablet.jpg?width=350  1x,
            ./images/restaurant-about/restaurant-dishes-tablet.jpg?width=700  2x,
            ./images/restaurant-about/restaurant-dishes-tablet.jpg?width=1050 3x
          "
          media="(min-width:1024px)"
          type="image/jpeg"
        />
        <img
          class="about-section__img about-section__img--normal"
          src="./images/restaurant-about/restaurant-dishes-tablet.jpg"
          alt="Steak on cutting board"
        />
      </picture>
    </div>
    <div
      class="gallery-small-slider gallery-small-slider--secondary slick-small"
    >
      <div class="gallery-small-slider__item">
        <picture>
          <source
            srcset="
              ./images/restaurant-about/small-slider/desktop/img1.jpg?as=webp&width=254 1x,
              ./images/restaurant-about/small-slider/desktop/img1.jpg?as=webp&width=508 2x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/desktop/img1.jpg?width=254 1x,
              ./images/restaurant-about/small-slider/desktop/img1.jpg?width=508 2x
            "
            media="(min-width:1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/tablet/img1.jpg?as=webp&width=194 1x,
              ./images/restaurant-about/small-slider/tablet/img1.jpg?as=webp&width=388 2x
            "
            media="(min-width:1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/tablet/img1.jpg?width=194 1x,
              ./images/restaurant-about/small-slider/tablet/img1.jpg?width=388 2x
            "
            media="(min-width:1024px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/mobile/img1.jpg?as=webp&width=245 1x,
              ./images/restaurant-about/small-slider/mobile/img1.jpg?as=webp&width=490 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/mobile/img1.jpg?width=245 1x,
              ./images/restaurant-about/small-slider/mobile/img1.jpg?width=490 2x
            "
            type="image/jpeg"
          />
          <img
            class="gallery-small-slider__img"
            src="./images/restaurant-about/small-slider/tablet/img1.jpg"
            alt="Фотографія з номеру готелю"
          />
        </picture>
      </div>

      <div class="gallery-small-slider__item">
        <picture>
          <source
            srcset="
              ./images/restaurant-about/small-slider/desktop/img2.jpg?as=webp&width=254 1x,
              ./images/restaurant-about/small-slider/desktop/img2.jpg?as=webp&width=508 2x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/desktop/img2.jpg?width=254 1x,
              ./images/restaurant-about/small-slider/desktop/img2.jpg?width=508 2x
            "
            media="(min-width:1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/tablet/img2.jpg?as=webp&width=194 1x,
              ./images/restaurant-about/small-slider/tablet/img2.jpg?as=webp&width=388 2x
            "
            media="(min-width:1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/tablet/img2.jpg?width=194 1x,
              ./images/restaurant-about/small-slider/tablet/img2.jpg?width=388 2x
            "
            media="(min-width:1024px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/mobile/img2.jpg?as=webp&width=245 1x,
              ./images/restaurant-about/small-slider/mobile/img2.jpg?as=webp&width=490 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/mobile/img2.jpg?width=245 1x,
              ./images/restaurant-about/small-slider/mobile/img2.jpg?width=490 2x
            "
            type="image/jpeg"
          />
          <img
            class="gallery-small-slider__img"
            src="./images/restaurant-about/small-slider/tablet/img2.jpg"
            alt="Фотографія з номеру готелю"
          />
        </picture>
      </div>

      <div class="gallery-small-slider__item">
        <picture>
          <source
            srcset="
              ./images/restaurant-about/small-slider/desktop/img3.jpg?as=webp&width=254 1x,
              ./images/restaurant-about/small-slider/desktop/img3.jpg?as=webp&width=508 2x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/desktop/img3.jpg?width=254 1x,
              ./images/restaurant-about/small-slider/desktop/img3.jpg?width=508 2x
            "
            media="(min-width:1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/tablet/img3.jpg?as=webp&width=194 1x,
              ./images/restaurant-about/small-slider/tablet/img3.jpg?as=webp&width=388 2x
            "
            media="(min-width:1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/tablet/img3.jpg?width=194 1x,
              ./images/restaurant-about/small-slider/tablet/img3.jpg?width=388 2x
            "
            media="(min-width:1024px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/mobile/img3.jpg?as=webp&width=245 1x,
              ./images/restaurant-about/small-slider/mobile/img3.jpg?as=webp&width=490 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/mobile/img3.jpg?width=245 1x,
              ./images/restaurant-about/small-slider/mobile/img3.jpg?width=490 2x
            "
            type="image/jpeg"
          />
          <img
            class="gallery-small-slider__img"
            src="./images/restaurant-about/small-slider/tablet/img3.jpg"
            alt="Фотографія з номеру готелю"
          />
        </picture>
      </div>

      <div class="gallery-small-slider__item">
        <picture>
          <source
            srcset="
              ./images/restaurant-about/small-slider/desktop/img4.jpg?as=webp&width=254 1x,
              ./images/restaurant-about/small-slider/desktop/img4.jpg?as=webp&width=508 2x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/desktop/img4.jpg?width=254 1x,
              ./images/restaurant-about/small-slider/desktop/img4.jpg?width=508 2x
            "
            media="(min-width:1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/tablet/img4.jpg?as=webp&width=194 1x,
              ./images/restaurant-about/small-slider/tablet/img4.jpg?as=webp&width=388 2x
            "
            media="(min-width:1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/tablet/img4.jpg?width=194 1x,
              ./images/restaurant-about/small-slider/tablet/img4.jpg?width=388 2x
            "
            media="(min-width:1024px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/mobile/img4.jpg?as=webp&width=245 1x,
              ./images/restaurant-about/small-slider/mobile/img4.jpg?as=webp&width=490 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/restaurant-about/small-slider/mobile/img4.jpg?width=245 1x,
              ./images/restaurant-about/small-slider/mobile/img4.jpg?width=490 2x
            "
            type="image/jpeg"
          />
          <img
            class="gallery-small-slider__img"
            src="./images/restaurant-about/small-slider/tablet/img4.jpg"
            alt="Фотографія з номеру готелю"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
