// .hero {
//   text-align: center;
// }

// .hero__body {
//   position: relative;
// }

.overlay-hotel {
  max-width: 480px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url('./../images/hero_images/hero-hotel-mobile-img.jpg');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('./../images/hero_images/hero-hotel-mobile-img-2x.jpg');
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 414px) {
    max-width: 414px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 1025px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('./../images/hero_images/hero-hotel-tab-img.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('./../images/hero_images/hero-hotel-tab-img-2x.jpg');
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('./../images/hero_images/hero-hotel-img.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('./../images/hero_images/hero-hotel-img-2x.jpg');
    }
  }
}

// .hero__logo {
//   font-family: 'FilmP3';
//   text-transform: uppercase;
//   padding-top: 64px;
//   margin-bottom: 32px;
//   margin-left: auto;
//   margin-right: auto;
//   font-weight: 700;
//   font-size: 128px;
//   line-height: 1.1;
//   letter-spacing: 0.3em;
//   color: var(--primary-light);

//   & > span {
//     letter-spacing: normal;
//   }

//   @media screen and (max-width: 414px) {
//     font-size: 96px;
//     line-height: 1.1;
//     padding-top: 181px;
//     margin-bottom: 24px;
//   }

//   @media screen and (max-width: 1024px) {
//     margin-bottom: 16px;
//     padding-top: 88px;
//   }
// }

// .hero__title-hotel {
//   margin-bottom: 242px;
//   font-weight: 600;
//   font-size: 20px;
//   line-height: 1.2;
//   letter-spacing: 0.02em;
//   color: var(--primary-light);
//   margin-left: auto;
//   margin-right: auto;

//   @media screen and (max-width: 414px) {
//     margin-bottom: 40px;
//   }

//   @media acreen and (max-width: 1024px) {
//     margin-bottom: 56px;
//   }
// }

// .hero__adress-buttons {
//   display: flex;

//   @media screen and (min-width: 414px) {
//     margin-bottom: 58px;
//   }

//   @media screen and (min-width: 1024px) {
//     margin-bottom: 25px;
//   }

//   @media screen and (min-width: 1200px) {
//     padding-bottom: 64px;
//   }
// }

// .hero__address {
//   width: 233px;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.3;
//   letter-spacing: 0.01em;
//   color: var(--text-address);
//   padding: 8px;

//   border: 1px solid rgba(243, 198, 83, 0.7);
//   border-radius: 2px;

//   @media screen and (max-width: 414px) {
//     display: flex;
//     align-items: center;
//     font-size: 12px;
//     line-height: 1.3;
//     position: absolute;
//     right: 15px;
//     top: 64px;
//   }

//   @media screen and (max-width: 1024px) {
//     display: flex;
//     align-items: center;
//   }

//   @media screen and (max-width: 1200px) {
//     display: flex;
//     align-items: center;
//   }
// }

// .hero__address-location {
//   margin-right: 8px;
// }

// .hero__address-icon {
//   @media screen and (min-width: 414px) {
//     display: flex;
//     fill: var(--secondary);
//   }
// }

// .hero__address-map {
//   display: block;
//   text-align: start;
// }

// .hero__buttons-list {
//   margin-left: auto;
//   display: flex;
//   flex-wrap: wrap;

//   @media screen and (max-width: 414px) {
//     display: block;
//     margin-left: 0;
//   }
// }

// .hero__item {
//   margin-left: 60px;

//   &:not(:last-child) {
//     margin-bottom: 24px;
//   }

//   @media screen and (max-width: 414px) {
//     display: flex;
//   }
// }

// .hero__button {
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.3;
//   letter-spacing: 0.02em;
//   color: var(--secondary);
//   padding: 14px 35px;
//   background-color: transparent;
//   border: 2px solid #ffffff;
//   border-radius: 25px;

//   &:hover,
//   &:focus {
//     background-color: var(--primary-light);
//   }

//   @media screen and (max-width: 414px) {
//     padding: 14px 24px;
//   }

//   @media screen and (max-width: 1024px) {
//     padding: 14px 24px;
//   }
// }

// .hero__soc {
//   @media screen and (min-width: 414px) {
//     display: flex;
//     text-decoration: none;
//     list-style: none;
//     gap: 20px;
//     padding-left: 15px;
//     padding-bottom: 20px;
//   }

//   @media screen and (min-width: 1024px) {
//     display: flex;
//     text-decoration: none;
//     list-style: none;
//     gap: 20px;
//     padding-bottom: 15px;
//     padding-left: 15px;
//   }

//   @media screen and (min-width: 1200px) {
//     display: none;
//   }
// }

// .hero__soc-icon {
//   fill: rgba(243, 198, 83, 0.7);
// }
