.hotel-rooms-section {
  padding-top: 100px;
}

.list-rooms {
  &__item {
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (min-width: $tablet) {
      padding-top: 0;
      padding-bottom: 104px;
    }
  }

  &__container {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      outline: 2px solid red;
    }
  }

  &__box {
    @media screen and (min-width: $tablet) {
      align-self: flex-start;
      margin-right: 42px;

      transform: translateY(64px);
    }
  }

  &__complex {
    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 62px;
    }
  }

  &__text-box {
    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 12px;

    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
      font-size: 30px;
      line-height: 1.33;
      letter-spacing: 0.05em;
    }
  }

  &__label {
    text-transform: lowercase;
  }

  &__descr {
    max-width: 258px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    @media screen and (min-width: $tablet) {
      max-width: 423px;

      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.02em;
    }
  }

  &__img {
    margin-left: auto;
    margin-bottom: 32px;

    background-color: var(--bg-image);
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;

      transform: translateY(-32px);
    }
  }
}

.list-btns {
  @media screen and (min-width: $tablet) {
    margin-left: auto;
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }

  &__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 33px;
    width: 236px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-align: center;
    text-decoration: none;
    color: var(--secondary);

    background-color: var(--primary-dark);
    border: 2px solid var(--bg);
    border-radius: 25px;

    cursor: pointer;

    @media screen and (min-width: $tablet) {
      border-color: var(--bg-dark);
    }
  }
}

.room-gallery-slider {
  margin-bottom: 72px;
  max-width: 404px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }

  &__item {
    background-color: var(--bg-image);
    border-radius: 2px;
    // box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
}

.list-rooms__item:nth-child(2n) {
  background-color: var(--bg-dark);

  & .list-rooms__container {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  & .list-rooms__box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (min-width: $tablet) {
      margin-right: 0;
      margin-left: 42px;
      padding-right: 20px;
    }
  }

  & .complex__logo {
    text-align: end;
  }

  & .list-rooms__descr {
    @media screen and (min-width: $tablet) {
      max-width: 400px;
    }
  }

  & .list-rooms__img {
    margin-left: 0;
  }

  & .list-btns {
    @media screen and (min-width: $tablet) {
      margin-left: 0;
      margin-right: auto;
    }
  }

  & .list-btns__btn {
    border-color: var(--bg-dark);

    @media screen and (min-width: $tablet) {
      border-color: var(--primary-light);
    }
  }
}
