@import '~nice-select2/src/scss/nice-select2.scss';
body {
  font-family: 'Montserrat', sans-serif;
  //   font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--primary-dark);
  background-color: var(--bg);
}

.container {
  max-width: $mobile;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding-left: 47px;
    padding-right: 47px;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal-open {
  overflow: hidden;
}

.complex__text {
  display: block;
  margin-bottom: 12px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.15;
  color: var(--text-secondary-light);
  @media (min-width: $tablet) {
    font-size: 32px;
    margin-bottom: 4px;
  }
}
.complex__logo {
  display: block;
  font-family: 'FilmP3';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--text-mimino-dark);
  @media (min-width: $tablet) {
    font-size: 64px;
  }
}
