.gallery-small-slider {
  margin-bottom: 72px;
  width: 404px;

  transform: translateX(-135px);

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    width: 428px;

    transform: translateX(0);
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    width: 548px;
  }

  & .slick-list {
    overflow: visible;
  }

  & .slick-track {
    display: flex;
    gap: 16px;

    @media screen and (min-width: $tablet) {
      gap: 40px;
    }
  }

  &__item {
    background-color: var(--bg-image);
    border-radius: 2px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
}

.gallery-small-slider--reversed {
  transform: translateX(calc(100vw - 299px));

  @media screen and (min-width: $mobile) {
    transform: translateX(115px);
  }

  @media screen and (min-width: $tablet) {
    transform: translateX(0);
  }

  & .slick-small-prev {
    left: 171px;

    @media screen and (min-width: $tablet) {
      left: 0;
    }
  }

  & .slick-small-next {
    left: 235px;

    @media screen and (min-width: $tablet) {
      left: 64px;
    }
  }
}

.slick-small-prev,
.slick-small-next {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.slick-small-prev {
  bottom: -52px;
  left: 135px;

  @media screen and (min-width: $tablet) {
    bottom: -64px;
    left: 330px;
  }

  @media screen and (min-width: $desktop) {
    bottom: -72px;
    left: 450px;
  }
}

.slick-small-next {
  bottom: -52px;
  left: 199px;

  @media screen and (min-width: $tablet) {
    bottom: -64px;
    left: 394px;
  }

  @media screen and (min-width: $desktop) {
    bottom: -72px;
    left: 514px;
  }
}

.slick-arrow {
  fill: var(--primary-dark);

  transition: fill var(--time) var(--cubic);

  &:hover,
  &:focus {
    fill: var(--secondary);
  }
}

// Disabled

// .slick-disabled {
//   & .slick-small-prev-icon,
//   & .slick-small-next-icon {
//     fill: var(--text-secondary-light);
//   }
// }

.slick-slide.gallery-small-slider__item {
  opacity: 0;

  transition: opacity 250ms var(--cubic);
  transition-delay: 300ms;
}

.slick-slide.slick-active.gallery-small-slider__item {
  opacity: 1;

  // transition-delay: 0ms;
}

.slick-slide.slick-active.gallery-small-slider__item.slick-current {
  opacity: 1;

  transition-delay: 0ms;
}

// secondary slider
.gallery-small-slider.gallery-small-slider--secondary {
  margin-bottom: 0;
  width: 514px;

  transform: translateX(0);

  @media screen and (min-width: calc($mobile - 68px)) {
    transform: translateX(calc(100vw - 345px));
  }

  @media screen and (min-width: $mobile) {
    transform: translateX(69px);
  }

  @media screen and (min-width: $tablet) {
    margin-left: calc(534px - 47px);
    width: 428px;

    transform: translateX(0);
  }

  @media screen and (min-width: $desktop) {
    margin-left: auto;
    width: 548px;
  }

  & .slick-track {
    gap: 24px;

    @media screen and (min-width: $tablet) {
      gap: 40px;
    }
  }

  & .slick-small-prev {
    left: calc(100vw - 135px);

    @media screen and (min-width: calc($mobile - 68px)) {
      left: 217px;
    }

    @media screen and (min-width: $tablet) {
      left: 330px;
    }

    @media screen and (min-width: $desktop) {
      left: 450px;
    }
  }

  & .slick-small-next {
    left: calc(100vw - 71px);

    @media screen and (min-width: calc($mobile - 68px)) {
      left: 281px;
    }

    @media screen and (min-width: $tablet) {
      left: 394px;
    }

    @media screen and (min-width: $desktop) {
      left: 514px;
    }
  }
}

//revers
.gallery-small-slider.gallery-small-slider--secondary.gallery-small-slider--secondary-reversed {
  transform: translateX(calc(-180px - (364px - 100vw)));

  @media screen and (min-width: 365px) {
    transform: translateX(-180px);
  }

  @media screen and (min-width: $tablet) {
    margin-left: 0;

    transform: translateX(0);
  }

  & .slick-small-prev {
    left: calc(180px + (364px - 100vw));

    @media screen and (min-width: 365px) {
      left: 180px;
    }

    @media screen and (min-width: $tablet) {
      left: 0;
    }
  }

  & .slick-small-next {
    left: calc(244px + (364px - 100vw));

    @media screen and (min-width: 365px) {
      left: 244px;
    }

    @media screen and (min-width: $tablet) {
      left: 64px;
    }
  }
}
