// $black: #000000;
.list-item {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
}

.list-item-element1 {
  width: 50%;
}

.list-item-element2 {
  width: 50%;
  transform: translateX(50%);
}

.list-item-element2 h2 {
  width: fit-content;
  margin: 0 auto;
}
.list-item-element2 h3 {
  width: fit-content;
  margin-left: auto;
}

.slider {
  position: relative;
  width: 548px;
}
.slider-item {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  // display: block;
  margin: 0 auto;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slick-header-prev {
  left: 0;
  z-index: 5;
}
.slick-header-next {
  right: 0;
}

body {
  // background-color: rgba(#000000, 0.5);
  // background-color: var(--black);

  // background-color: purple;
  // background-color: $black;
  // background-color: rgba(var(--black-rgb), 0.5);
}
.slick-header {
  transform: translateX(50%);
}

.responsive1 {
  transform: translateX(50%);
}

.fonts-test1,
.fonts-test2,
.fonts-test3,
.fonts-test4,
.fonts-test5 {
  font-family: 'Montserrat';
  font-size: 30px;
}

.fonts-test1 {
  font-weight: 300;
}
.fonts-test2 {
  font-weight: 400;
}
.fonts-test3 {
  font-weight: 500;
}
.fonts-test4 {
  font-weight: 600;
}
.fonts-test5 {
  font-weight: 700;
}

.fonts-test6,
.fonts-test7 {
  font-family: 'Times new roman';
  font-size: 30px;
}
.fonts-test6 {
  font-weight: 400;
}
.fonts-test7 {
  font-weight: 700;
}

.fonts-test8 {
  font-family: 'FilmP3';
  font-size: 30px;
  font-weight: 700;
}

.test-container {
  background-color: aquamarine;
}

button {
  display: flex;
  padding: 0;
  border: none;
}

.slick-header-prev-icon {
  fill: red;
}

.slick-arrow {
  fill: green;
}

.control-c {
  width: 30px;
  height: 30px;
}

// .modal {
//   display: none;
// }

// .active {
//   display: block;
// }

// .modal {
//   position: absolute;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 300px;
//   border-radius: 5px;
//   z-index: 52;
//   overflow: scroll;
//   top: 30px;
//   left: 50%;
//   transform: translateX(-50%);
//   background-color: rgb(255, 253, 192);
//   height: 480px;
//   visibility: hidden;
//   opacity: 0;
//   pointer-events: none;

//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   @media screen and(min-width: 768px) {
//     width: 500px;
//   }

//   @media screen and(min-width: 1200px) {
//     top: 50%;
//     transform: translate(-50%, -50%);
//     width: 750px;
//   }
// }

// .modal1.active {
//   visibility: visible;
//   opacity: 1;
//   pointer-events: initial;
// }

// .modal2.active {
//   visibility: visible;
//   opacity: 1;
//   pointer-events: initial;
// }

// .modal3.active {
//   visibility: visible;
//   opacity: 1;
//   pointer-events: initial;
// }

// .modal__button {
//   position: absolute;
//   right: 15px;
//   top: 15px;
//   width: 40px;
//   height: 40px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 0;
//   border: none;
//   background-color: transparent;
//   cursor: pointer;
// }

// .modal__icon {
//   width: 40px;
//   height: 40px;
//   fill: black;

//   .modal__button:focus &,
//   .modal__button:active & {
//     fill: #7eb101;
//   }
// }
// .modal__text {
//   font-size: 44px;
//   line-height: calc(66 / 44);
//   letter-spacing: 0.06em;
// }

// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.329);
//   z-index: 41;
//   visibility: hidden;
//   opacity: 0;
//   pointer-events: none;
//   overflow: scroll;
//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .backdrop.active {
//   visibility: visible;
//   opacity: 1;
//   pointer-events: all;
// }

.tb {
  @include button-transparent();
}
