@import '~node_modules/modern-normalize/modern-normalize.css';
@import './base/reset';
@import './base/fonts';
@import './abstracts/vars';
@import './base/common';

@import './abstracts/mixines';
@import './abstracts/placeholders';
@import './abstracts/functions';

// Reusable

@import './layout/header';
@import './layout/footer';
@import './layout/about';
@import './layout/details';
@import './layout/hero';

// Main page

@import './components/main/main__hero';
@import './components/main/main__about-restaurant';
@import './components/main/main__details-restaurant';
@import './components/main/main__about-hotel';
@import './components/main/main__details-hotel';
@import './components/main/main__contacts';

// Restaurant page

@import './components/restaurant/restaurant__hero';
@import './components/restaurant/restaurant__about-kitchen';
@import './components/restaurant/restaurant__menu';

// Hotel page

@import './components/hotel/hotel__hero';
@import './components/hotel/hotel__rooms';

// Room page

@import './components/room/room__hero';
@import './components/room/room__amenities';

// @import './testing';
// @import './example';
@import './layout/modals';
