body {
  overflow-x: hidden;
}

.swiper-container {
  width: calc(588px);
}

.slider-section {
  .swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 270px !important;

    transition: ease-in-out 0.5s;
    object-fit: cover;
  }
}

.swiper {
  overflow: hidden;
  width: 100%;
}

.swiper-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-wrapper {
  padding: 0;
  display: flex;
  width: fit-content;
}

// =====================TABLET=====================

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .swiper-viewport {
    width: calc(696px);
    overflow: hidden;
  }
  .swiper-container {
    width: calc(588px);
    // margin-left: auto;
  }
  .swiper-slide .swiper-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    transition: width 500ms linear !important;
    overflow: hidden !important;
  }

  .swiper-slide-next ~ .swiper-slide .swiper-inner {
    transition: width 500ms linear !important;
  }

  .slider-section {
    .swiper-slide {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      color: #fff;
      font-size: 32px;
      padding-left: 17px;
      padding-right: 17px;
      height: 270px !important;
      width: 196px !important;
      transition: ease-in-out 0.5s;
      object-fit: cover;
    }
  }

  .swiper.reverse .swiper-slide.swiper-slide-active {
    margin-left: 108px !important;
    transition: margin-left 300ms;
  }

  .swiper.reverse .swiper-slide.swiper-slide-active .swiper-inner {
    position: absolute;
    right: 20;
    width: 270px;
    overflow: hidden !important;
  }

  .swiper.straight .swiper-slide.swiper-slide-next ~ .swiper-slide {
    margin-right: 108px !important;
    transition: margin-right 300ms;
  }
  .swiper.straight
    .swiper-slide.swiper-slide-next
    ~ .swiper-slide
    .swiper-inner {
    position: absolute;
    left: 20px;
    width: 270px;
    overflow: hidden !important;
  }

  .swiper {
    overflow: visible;
  }
}

// =====================DESKTOP=====================

@media screen and (min-width: 1280px) {
  .swiper-viewport {
    width: 874px;
    overflow: hidden;
  }

  .swiper-container {
    width: calc(874px);
  }

  .slider-section {
    .swiper-slide {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      // min-height: 300px;
      // width: 380px !important;
      color: #fff;
      font-size: 32px;
      // padding-left: 17px;
      // padding-right: 17px;
      // margin-left: 17px;
      // margin-right: 17px;
      height: 270px !important;
      // background-color: red;
      // width: 196px !important;
      transition: ease-in-out 0.5s;
      object-fit: cover;
      &.swiper-slide-active .swiper-inner {
        transition: width 200ms linear;
      }
      &.swiper-slide-next ~ .swiper-slide {
        // краще виставляти у %
        // зараз 17.3%  дорівнює 200px
        //width: 200px !important;
        // width: 350px !important;
        // transform: scaleX(60%);
        // width: 304px !important;
        // margin-right: 108px !important;
        transition: margin-right 300ms;
      }
      &.swiper-slide-next ~ .swiper-slide img {
        // transition: transform ;
      }
      &.swiper-slide-next .swiper-inner {
        position: absolute;
        // left: 20px;
        // width: 270px;
        overflow: hidden !important;
        // transition: width 200ms linear;
        width: 60%;
      }
      &.swiper-slide .swiper-inner {
        position: absolute;
        transition: width 200ms linear;
        // width: 60%;
      }

      &.swiper-slide-next .swiper-inner {
        // краще виставляти у %
        // зараз 17.3%  дорівнює 200px
        //width: 200px !important;
        // width: 300px !important;
        // transform: scaleX(60%);
        // width: 60%;
      }
    }
  }

  .swiper {
    overflow: visible;
    width: 100%;
  }

  .swiper-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    transition: width 200ms linear, transform 200ms linear;
    overflow: hidden !important;
  }
  .swiper-wrapper {
    padding: 0;
    display: flex;
    width: fit-content;
  }
}

// .swiper-inner {
//   height: 100% !important;
//   overflow: hidden !important;
//   display: flex !important;
//   justify-content: center !important;
//   overflow: hidden !important;
// }

.swiper-inner img {
  max-width: none !important;
  position: absolute;
  // width: 100%;
  // width: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // width: 270px !important;
  // height: 270px !important;
  // margin: 0 auto !important;
}

// .test-div {
//   max-width: 150px;
//   height: 254px;
//   object-fit: fill;
//   background-color: aqua;
//   display: flex;
//   justify-content: center;
//   overflow: hidden;
// }

// .test-div img {
//   object-fit: fill;
//   width: 254px !important;
//   height: 254px !important;
//   max-width: none;
// }
