:root {
  // ======================COMMON======================
  --primary-dark: #000000;
  --primary-light: #ffffff;

  //   --yellow-akzent: #f3c653;
  --secondary: #f3c653;
  --secondary-dark: #c79002;


  // ======================TEXT======================
  --text-primary: #7a7a7a;
  --text-secondary: #5f5f5f;
  --text-secondary-light: #b4b4b4;

  --text-mimino-dark: #494848;
  --text-mimino-light: #828282;

  --text-address: #e5e5e5;

  // ======================RGBA======================
  // #000000
  --primary-dark-rgb: 0, 0, 0;
  // #F3C653
  --secondary-rgb: 243, 198, 83;
  // #BABABA
  --bg-image-secondary-rgb: 186, 186, 186;

  //  Приклади використання rgb-змінних для отримання rgba кольорів з різною прозорістю:
  // rgba(var(--name-rgb), 0),   rgba(var(--name-rgb), 0.35),  rgba(var(--name-rgb), 0.8),

  // ======================BACKGROUND======================
  //   fon lemon
  --bg: #fffdee;
  //   fon lemon dark
  --bg-dark: #f0ecd6;

  --bg-footer: #0e0c07;
  --bg-image: #dadada;
  --bg-image-secondary: #bababa;

  // ======================BREAKPOINTS======================
  --mobile: 414px;
  --tablet: 1024px;
  --desktop: 1280px;

  // ======================TRANSITIONS======================

  --time: 350ms;
  --cubic: linear;
}

// $mobile: 414px;
// $tablet: 1024px;
// $desktop: 1280px;
