.overlay {
  max-width: 480px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url('./../images/hero_images/hero-home-mobile-img.jpg');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('./../images/hero_images/hero-home-mobile-img-2x.jpg');
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 415px) {
    max-width: 1024px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('./../images/hero_images/hero-home-tab-img.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('./../images/hero_images/hero-home-tab-img-2x.jpg');
    }
  }
  @media screen and (min-width: 1025px) {
    max-width: 1280px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('./../images/hero_images/hero-home-img.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('./../images/hero_images/hero-home-img-2x.jpg');
    }
  }
}
