.contacts__container {
  padding-top: 36px;
  padding-bottom: 32px;
  background-color: var(--bg);
}

.contacts__complex {
  margin-bottom: 12px;
}

.contacts__deskript {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-primary);
  margin-bottom: 24px;
}

.contacts__item {
  display: flex;
  align-items: center;
  // height: 40px;
  margin-bottom: 16px;
}

.contacts__item:last-child {
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    margin-left: 0;
    margin-bottom: 0;
    // margin-left: 123px;

  }
}

.contacts__text {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--secondary-dark);
  margin-right: 22px;
}

.contacts__fild {
  display: flex;
  align-items: center;
  background: var(--primary-light);
  border: 0.5px solid var(--secondary);
  border-radius: 2px;
  padding-right: 8px;
  padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 11px;
}

.text-hotel{
  margin-right: 54px;
}
.contacts__icon {
  fill: var(--secondary-dark);
  // margin-right: 14px;
}

.contacts__link {
  font-size: 14px;
  line-height: calc(17 / 14);
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--text-mimino-dark);
}

.contacts__tel {
  margin-left: 12px;
}

.contacts__map {
  border: 1px solid var(--bg-image-secondary);
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.contacts__iframe {
  display: block;
  width: min(100%, 394px);
  height: 220px;

  @media screen and (min-width: $tablet) {
    width: 535px;
    height: 412px;
  }

  @media screen and (min-width: $desktop){
    width: 634px;
  }
}

.contacts__fild-address {
  width: 260px;
  height: 76px;
  padding-right: 44px;
  margin-left: 123px;

  @media screen and (min-width: $tablet) {
    padding-right: 0;
    width: 285px;
    height: 56px;
    padding-left: 8px;
    margin-left: 0; 
  }
}

  .contacts__container {

    @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 44px;
  }

    @media screen and (min-width: $desktop) {
      padding-top: 56px;
      padding-bottom: 73px;
    }
  
  .contacts__complex {
    font-weight: 700;
    font-size: 64px;
    line-height: calc(69 / 64);
    letter-spacing: 0.3em;
  }
  .contacts__item {
    flex-wrap: nowrap;

    @media screen and (min-width: $tablet) {
      align-items: flex-start;
    }

    @media screen and (min-width: $tablet) {
    flex-direction: column; 
    }
  }
  .contacts__complex {
    margin-bottom: 12px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 8px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 16px;
    }
  }

  .contacts__deskript {
    margin-bottom: 24px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 52px;

    }

    @media screen and (min-width: $desktop){
    margin-bottom: 40px;
    }  
  }
  .contacts__text {
    margin-bottom: 8px;
  }
  .contacts__item:first-child {
    // margin-bottom: 35px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }
  }
  .contacts__item:nth-child(2) {
    margin-bottom: 16px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 48px;
    }
  }
  .contacts__fild {
    // margin-bottom: 48px;

    @media screen and (min-width: $tablet) {
      // margin-bottom: 35px;
      
    }
  }
}

  
  
  .contacts__item {
    margin-bottom: 16px;
  }


.mup-link{
  font-size: 16px;
}
