<footer class="footer">
  <div class="footer__container">
    <div class="footer__box-logo">
      <a href="./index.html" class="footer__logo">mimiho</a>
    </div>

    <div class="position">
      <ul class="footer__nav-list list">
        <li class="footer__item">
          <a href="./index.html" class="footer__nav-link link">Головна</a>
        </li>
        <li class="footer__item">
          <a href="./restaurant.html" class="footer__nav-link link">Ресторан</a>
        </li>
        <li class="footer__item">
          <a href="./hotel.html" class="footer__nav-link link">Готель</a>
        </li>
      </ul>
      <div>
        <ul class="footer__networks-list list">
          <li class="footer__networks-item">
            <a href="#" class="footer__networks-link"
              ><span class="footer__span">Instagram</span>
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__networks-item">
            <a href="#" class="footer__networks-link"
              ><span class="footer__span">Facebook</span>
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__networks-item">
            <a href="#" class="footer__networks-link"
              ><span class="footer__span">Telegram</span>
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- <button class="hero-buttom" type="button">
    <svg width="9" height="18">
      <use href="./images/arrow-button.svg#icon-arrow">
      </use>
    </svg>
    Read More</button> -->

<!-- .hero-buttom {
        display: flex;
        gap: 5px;
        align-items: center;
        margin: 0 auto;
        padding: 10px 30px 9px 41px;
        min-width: 92px;
        text-align: center;
        border: transparent;
        border-radius: 5px;
        cursor: pointer;
        color: var(--secondary-color);
        fill: currentColor;
        background-color: var(--secondary-bg-color);
        font-family: inherit;
        line-height: 1.56;
      }
      .hero-buttom:hover,
      .hero-buttom:focus {
        background-color: var(--button-active-green);
        box-shadow: var(--shadow-btn);
      } -->
