<footer class="footer">
  <div class="footer__container">
    <div>
      <a href="./index.html" class="footer__logo" aria-label="Міміно">mimiho</a>
    </div>
    <div class="footer__position-nav">
      <ul class="footer__nav-list list">
        <li class="footer__item">
          <a href="./index.html" class="footer__nav-link link">Головна</a>
        </li>
        <li class="footer__item">
          <a href="./restaurant.html" class="footer__nav-link link">Ресторан</a>
        </li>
        <li class="footer__item">
          <a href="./hotel.html" class="footer__nav-link link">Готель</a>
        </li>
      </ul>
      <div>
        <ul class="footer__networks-list list">
          <li class="footer__networks-item">
            <a href="#" class="footer__networks-link"
              ><span class="footer__span">Instagram</span>
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__networks-item">
            <a href="#" class="footer__networks-link"
              ><span class="footer__span">Facebook</span>
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__networks-item">
            <a href="#" class="footer__networks-link"
              ><span class="footer__span">Telegram</span>
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

