<!--Header-->
<header class="header">
  <div class="header__container">
    <a href="./index.html" class="logo">mimiho</a>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="./restaurant.html" class="header__link">
            Ресторан
            <a class="header__link-tel" href="tel:+380955559533">
              <svg width="24" height="24" class="header__icon">
                <use href="./images/icons.svg#icon-phone"></use></svg
              ><span class="header__tel">095 555 95 33</span></a
            >
          </a>
        </li>
        <li class="header__item">
          <a href="./hotel.html" class="header__link">
            Готель
            <a class="header__link-tel" href="tel:+3800668491089">
              <svg width="24" height="24" class="header__icon">
                <use href="./images/icons.svg#icon-phone"></use></svg
              ><span class="header__tel">066 849 10 89</span></a
            >
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- <address class="header-address">
          <a href="https://www.google.com/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9C%D0%B0%D1%80%D1%88%D0%B0%D0%BB%D0%B0+%D0%91%D1%96%D1%80%D1%8E%D0%B7%D0%BE%D0%B2%D0%B0,+15,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+36000/@49.599194,34.5265463,17z/data=!3m1!4b1!4m5!3m4!1s0x40d82601f3347a5f:0x36f3f9aeec44a6a!8m2!3d49.599194!4d34.5265463" target="_blank" class="header-address__link">
            <svg width="20" height="20" class="header__icon">
              <use href="./images/icons.svg#icon-location"></use>
            </svg>
            <span>Україна, м. Полтава,<br> вул. Маршала Бірюзова, 15</span>
            </a>
        </address> -->
</header>
