<div class="modal modal1" data-modal="2">
  <form>
    <button class="modal__button js-modal-close" type="button">
      <svg width="24" height="24" class="modal__icon">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="modal_title">Забронювати номер</h2>
    <div class="modal__input-block--alt">
      <div class="modal__input-subblock">
        <div class="input-container">
          <input
            type="text"
            name="name"
            id="apartment-book-name"
            class="modal__input"
            placeholder="Ваше ім’я"
          />

          <label class="modal__text" for="apartment-book-name"
            >На кого забронювати столик?</label
          >
        </div>

        <div class="input-container">
          <input
            type="text"
            id="apartment-book-phone"
            name="phone"
            class="modal__input js-inputmask"
          />
          <label class="modal__text" for="apartment-book-phone"
            >Номер телефону</label
          >
        </div>

        <div class="input-container">
          <select
            name="apartment-type"
            id="apartment-book-type"
            class="modal__select js-select"
          >
            <option value="Двомісний люкс">Двомісний люкс</option>
            <option value="Трьохмісний номер">Трьохмісний номер</option>
            <option value="Двомісний номер">Двомісний номер</option>
          </select>
          <label for="apartment-book-type" class="modal__text"
            >Категорія номеру</label
          >
        </div>
      </div>

      <div class="modal__input-subblock">
        <div class="input-container">
          <select
            name="in-date"
            id="apartment-book-in"
            class="modal__select js-select"
          >
            <option value="Сьогодні">Сьогодні</option>
            <option value="Завтра">Завтра</option>
            <option value="Післязавтра">Післязавтра</option>
          </select>
          <label for="apartment-book-in" class="modal__text">Дата заїзду</label>
        </div>

        <div class="input-container">
          <select
            name="out-date"
            id="apartment-book-out"
            class="modal__select js-select"
          >
            <option value="Сьогодні">Сьогодні</option>
            <option value="Завтра">Завтра</option>
            <option value="Післязавтра">Післязавтра</option>
          </select>
          <label for="apartment-book-out" class="modal__text"
            >Дата виїзду</label
          >
        </div>
      </div>
    </div>
    <button class="modal__button-submit" type="submit">
      Оформити бронювання
    </button>
  </form>
</div>
