<div class="modal modal1" data-modal="2">
  <form action="">
    <button class="modal__button js-modal-close" type="button">
      <svg width="24" height="24" class="modal__icon">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="modal_title">Забронювати номер</h2>
    <div class="modal_container">
      <input type="text" class="modal__input" placeholder="Ваше ім’я" />

      <label class="modal__text">На кого забронювати столик?</label>
      <input type="text" class="modal__input js-inputmask" />
      <label class="modal__text">Номер телефону</label>

      <select name="" id="appartment-cat" class="modal__select js-select">
        <option value="Двомісний люкс">Двомісний люкс</option>
        <option value="Трьохмісний номер">Трьохмісний номер</option>
        <option value="Двомісний номер">Двомісний номер</option>
      </select>
      <label for="appartment-cat" class="modal__text">Категорія номеру</label>

      <select name="" id="appartment-cat" class="modal__select js-select">
        <option value="Двомісний люкс">Двомісний люкс</option>
        <option value="Трьохмісний номер">Трьохмісний номер</option>
        <option value="Двомісний номер">Двомісний номер</option>
      </select>
      <label for="appartment-cat" class="modal__text">Категорія номеру</label>

      <select name="" id="appartment-cat" class="modal__select js-select">
        <option value="Двомісний люкс">Двомісний люкс</option>
        <option value="Трьохмісний номер">Трьохмісний номер</option>
        <option value="Двомісний номер">Двомісний номер</option>
      </select>
      <label for="appartment-cat" class="modal__text">Категорія номеру</label>

      <button class="modal__button-submit" type="submit">
        Оформити бронювання
      </button>
    </div>
  </form>
</div>
