<div class="modal modal1" data-modal="3">
    <form action="">
        <button class="modal__button js-modal-close" type="button">
            <svg width="24" height="24" class="modal__icon">
              <use href="./images/icons.svg#icon-cross"></use>
            </svg>
          </button>
          <h2 class="modal_title">Ціни на номер</h2>
          <div class="modal_container">
              <input type="number" id="apartment-price-nights" class="modal__input" placeholder="1" />
            <label class="modal__text" for="apartment-price-nights">Кількість ночей</label>
              <input type="number" id="apartment-price-price" class="modal__input" placeholder="1000" />
            <label class="modal__text" for="apartment-price-price">грн</label>
            <button class="modal__button-submit" type="submit">
              Забронювати номер
            </button>
    </form>
 
  </div>
</div>
