<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <form class="modal__form" action="form" autocomplete="off">
             <button data-modal-close type="button" class="modal__close">
                <svg width="24" height="24">
                <use href="./images/icons.svg#close">
                </use></svg>
            </button>
            <p class="modal__title">ЦІНИ НА НОМЕР</p>
            <p class="modal__subtitle">Двомісний люкс</p>
            <p class="modal__text">Категорія номеру</p>
            <ul class="modal__field">
                <li class="modal-item">    
                    <label class="modal-item__field">
                        <input class="modal-item__input" type="text" name="name" autofocus />
                        <span class="modal-item__label">Кількість ночей</span>   
                    </label>
                </li>
                
                <li class="modal-item">
                    <label class="modal-item__field">
                        <input class="modal-item__input" type="text" name="name" />
                        <span class="modal-item__label">грн</span>
                    </label>
                </li>
            </ul>

            <button type="submit" class="modal__btn">ЗАБРОНЮВАТИ НОМЕР</button>
        </form>
    </div>
</div>