<div class="modal modal1" data-modal="1">
  <form action="">
    <button class="modal__button js-modal-close" type="button">
      <svg width="24" height="24" class="modal__icon">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="modal_title">Забронювати столик</h2>
    <div class="modal_container">
      <input
        type="text"
        id="book-table-name"
        class="modal__input"
        placeholder="Ваше ім’я"
      />

      <label class="modal__text" for="book-table-name"
        >На кого забронювати столик?</label
      >
      <input
        type="text"
        id="book-table-num"
        class="modal__input js-inputmask"
      />
      <label class="modal__text" for="book-table-num">Номер телефону</label>
      <!-- <div class="modal-select">
        <select name="" id="" class="modal__select js-select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <p class="modal__text">Столик на яку кількість осіб?</p>
      </div>
      <div class="modal-select">
        <select name="" id="" class="modal__select js-select">
          <option value="1">Сьогодні</option>
          <option value="2">Завтра</option>
          <option value="3">Післязавтра</option>
        </select>

        <p class="modal__text">На яку дату бронювати?</p>
      </div> -->

      <select name="" id="persons-num" class="modal__select js-select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
      <label for="persons-num" class="modal__text">Категорія номеру</label>

      <select name="" id="booking-date" class="modal__select js-select">
        <option value="Двомісний люкс">Сьогодні</option>
        <option value="Трьохмісний номер">Завтра</option>
        <option value="Двомісний номер">Післязавтра</option>
      </select>
      <label for="booking-date" class="modal__text"
        >На яку дату бронювати?</label
      >

      <button class="modal__button-submit" type="submit">
        Оформити бронювання
      </button>
    </div>
  </form>
</div>
