.room-hero {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  &__container {
    position: relative;

    padding-left: 0;
    padding-right: 0;
  }
  // background-color: var(--text-mimino-dark);
  // background-image: url(./../images/hero_room1-mobile.jpg);

  // @media screen and (min-device-pixel-ratio: 2),
  //   screen and (min-resolution: 192dpi),
  //   screen and (min-resolution: 2dppx) {
  //   & {
  //     background-image: url(./../images/hero_room1-mobile@2x.jpg);
  //   }
  // }

  // @media screen and (min-width: 415px) {
  //   & {
  //     background-image: url(./../images/hero_room1-tablet.jpg);
  //   }

  //   @media screen and (min-device-pixel-ratio: 2),
  //     screen and (min-resolution: 192dpi),
  //     screen and (min-resolution: 2dppx) {
  //     & {
  //       background-image: url(./../images/hero_room1-tablet@2x.jpg);
  //     }
  //   }
  // }

  // @media screen and (min-width: 1025px) {
  //   & {
  //     background-image: url(./../images/hero_room1-desktop.jpg);
  //   }

  //   @media screen and (min-device-pixel-ratio: 2),
  //     screen and (min-resolution: 192dpi),
  //     screen and (min-resolution: 2dppx) {
  //     & {
  //       background-image: url(./../images/hero_room1-desktop@2x.jpg);
  //     }
  //   }
  // }

  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

  background-color: var(--primary-dark);
}

.room-body {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  width: 100%;

  // padding-top: 483px;

  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;

  pointer-events: none;

  @media screen and (min-width: calc($mobile + 1px)) {
    left: 50%;

    transform: translateX(-50%);
  }

  @media screen and (min-width: $tablet) {
    // padding-top: 468px;
    padding-left: 47px;
    padding-right: 47px;
    padding-bottom: 22px;
  }

  @media screen and (min-width: $desktop) {
    // padding-top: 524px;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 48px;
  }
}

.room-hero__title {
  margin-bottom: 14px;
  font-family: 'Times New Roman';
  font-style: normal;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.05em;

  color: var(--primary-light);

  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
    font-size: 36px;
  }
}

.room-hero__title1 {
  text-transform: uppercase;
}

.room-hero__content {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // padding-bottom: 48px;
  }
}

.room-hero__text {
  margin-bottom: 17px;
  width: min(325px, 100%);

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: var(--primary-light);

  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
    font-size: 16px;
    width: 400px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.room-hero__map {
  position: absolute;
  // z-index: 10;
  top: 100px;
  right: 15px;
  display: flex;

  text-decoration: none;
  align-items: center;

  padding: 8px 3px 9px 0;

  // min-width: 210px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;

  color: var(--text-address);
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;

  pointer-events: visible;

  @media screen and (min-width: 380px) {
    top: 65px;
    right: 15px;
  }

  @media screen and (min-width: $tablet) {
    position: static;
    // min-width: 285px;
    padding: 8px;
    font-size: 16px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.room-hero__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // max-width: 326px;

  @media screen and (min-width: calc($mobile - 54px)) {
    justify-content: flex-start;
    gap: 70px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: start;
    gap: 40px;
    // padding-bottom: 22px;
  }
}

.room-hero__social {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;
  // margin-right: calc(70px - (414px - 100vw));

  // @media screen and (min-width: 380px) {
  //   margin-right: 72px;
  // }

  @media screen and (min-width: $tablet) {
    // margin: 0;
    flex-direction: row;
    gap: 20px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.room-hero__item {
  color: rgba(243, 198, 83, 0.7);

  transition: color var(--time) var(--cubic);

  &:hover,
  &:focus {
    color: var(--secondary);
  }

  // &:not(:last-child) {
  //   @media screen and (min-width: $tablet) {
  //     margin-right: 23px;
  //   }
  // }
}

.room-hero__btn {
  border: 2px solid var(--primary-light);
  border-radius: 25px;
  width: 232px;
  height: 48px;

  text-align: center;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: var(--secondary);
  background-color: rgba(0, 0, 0, 0.4);

  transition: background-color var(--time) var(--cubic),
    color var(--time) var(--cubic);

  pointer-events: visible;

  &:hover,
  &:focus {
    background-color: var(--primary-light);
    border: 2px solid var(--secondary);
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    right: 47px;
    bottom: 62px;
  }

  @media screen and (min-width: $desktop) {
    right: 85px;
    bottom: 66px;
  }
}

// .room-hero__item {
//   cursor: pointer;
// }

// .room-hero__item:not(:last-child) {
//   @media screen and (min-width: $tablet) {
//     margin-right: 23px;
//   }
// }

.room-hero__icon {
  fill: currentColor;
}

.room-hero__icon-location {
  fill: var(--secondary);
  margin: 0 8px 0 6px;

  @media screen and (min-width: $tablet) {
    margin: 0 10px 0 2px;
    width: 24px;
    height: 24px;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 0 8px 0 6px;
  width: 24px;
  height: 24px;

  pointer-events: visible;

  // @media screen and (min-width: $tablet) {
  //   margin: 0 10px 0 2px;
  // }
}
