<section class="hotel-rooms-section">
  <h2 class="">Список номерів кімнат готелю</h2>

  <ul class="list-rooms">
    <li class="list-rooms__item">
      <span class="section-label">Amet minim mollit non</span>
      <span class="section-logo">MIMIHO</span>

      <h3 class="list-rooms__title">ДВОМІСНИЙ НОМЕР люкс</h3>

      <p class="list-rooms__descr">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <picture>
        <source
          srcset="
            ./images/hotel/desktop-room-img.jpg?as=webp&width=460 1x,
            ./images/hotel/desktop-room-img.jpg?as=webp&width=920 2x
          "
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hotel/desktop-room-img.jpg?width=460 1x,
            ./images/hotel/desktop-room-img.jpg?width=920 2x
          "
          media="(min-width:1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/hotel/tablet-room-img.jpg?as=webp&width=400 1x,
            ./images/hotel/tablet-room-img.jpg?as=webp&width=800 2x
          "
          media="(min-width:1024px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hotel/tablet-room-img.jpg?width=400 1x,
            ./images/hotel/tablet-room-img.jpg?width=800 2x
          "
          media="(min-width:1024px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/hotel/mobile-room-img.jpg?as=webp&width=224 1x,
            ./images/hotel/mobile-room-img.jpg?as=webp&width=448 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/hotel/mobile-room-img.jpg?width=224 1x,
            ./images/hotel/mobile-room-img.jpg?width=448 2x
          "
          type="image/jpeg"
        />

        <img src="./images/hotel/desktop-room-img.jpg" alt="Номер готелю" />
      </picture>

      <div class="list-rooms__test"></div>

      <ul class="list-btns">
        <li class="list-btns__item">
          <button class="btn" type="button">Детальніше</button>
        </li>

        <li class="list-btns__item">
          <button class="btn" type="button">Переглянути ціни</button>
        </li>
      </ul>
    </li>

    <li class="list-rooms__item">
      <span class="section__label">Amet minim mollit non</span>
      <span class="section__logo">MIMIHO</span>

      <h3 class="list-rooms__title">ТРЬОХМІСНИЙ НОМЕР</h3>

      <p class="list-rooms__descr">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <picture>
        <source
          srcset="
            ./images/hotel/desktop-room-img.jpg?as=webp&width=460 1x,
            ./images/hotel/desktop-room-img.jpg?as=webp&width=920 2x
          "
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hotel/desktop-room-img.jpg?width=460 1x,
            ./images/hotel/desktop-room-img.jpg?width=920 2x
          "
          media="(min-width:1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/hotel/tablet-room-img.jpg?as=webp&width=400 1x,
            ./images/hotel/tablet-room-img.jpg?as=webp&width=800 2x
          "
          media="(min-width:1024px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hotel/tablet-room-img.jpg?width=400 1x,
            ./images/hotel/tablet-room-img.jpg?width=800 2x
          "
          media="(min-width:1024px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/hotel/mobile-room-img.jpg?as=webp&width=224 1x,
            ./images/hotel/mobile-room-img.jpg?as=webp&width=448 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/hotel/mobile-room-img.jpg?width=224 1x,
            ./images/hotel/mobile-room-img.jpg?width=448 2x
          "
          type="image/jpeg"
        />

        <img src="./images/hotel/desktop-room-img.jpg" alt="Номер готелю" />
      </picture>

      <div class="list-rooms__test"></div>

      <ul class="list-btns">
        <li class="list-btns__item">
          <button class="btn" type="button">Детальніше</button>
        </li>

        <li class="list-btns__item">
          <button class="btn" type="button">Переглянути ціни</button>
        </li>
      </ul>
    </li>

    <li class="list-rooms__item">
      <span class="section__label">Amet minim mollit non</span>
      <span class="section__logo">MIMIHO</span>

      <h3 class="list-rooms__title">ДВОМІСНИЙ НОМЕР</h3>

      <p class="list-rooms__descr">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <picture>
        <source
          srcset="
            ./images/hotel/desktop-room-img.jpg?as=webp&width=460 1x,
            ./images/hotel/desktop-room-img.jpg?as=webp&width=920 2x
          "
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hotel/desktop-room-img.jpg?width=460 1x,
            ./images/hotel/desktop-room-img.jpg?width=920 2x
          "
          media="(min-width:1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/hotel/tablet-room-img.jpg?as=webp&width=400 1x,
            ./images/hotel/tablet-room-img.jpg?as=webp&width=800 2x
          "
          media="(min-width:1024px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hotel/tablet-room-img.jpg?width=400 1x,
            ./images/hotel/tablet-room-img.jpg?width=800 2x
          "
          media="(min-width:1024px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/hotel/mobile-room-img.jpg?as=webp&width=224 1x,
            ./images/hotel/mobile-room-img.jpg?as=webp&width=448 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/hotel/mobile-room-img.jpg?width=224 1x,
            ./images/hotel/mobile-room-img.jpg?width=448 2x
          "
          type="image/jpeg"
        />

        <img src="./images/hotel/desktop-room-img.jpg" alt="Номер готелю" />
      </picture>

      <div class="list-rooms__test"></div>

      <ul class="list-btns">
        <li class="list-btns__item">
          <button class="btn" type="button">Детальніше</button>
        </li>

        <li class="list-btns__item">
          <button class="btn" type="button">Переглянути ціни</button>
        </li>
      </ul>
    </li>
  </ul>
</section>
