<section class="testing">
  <ul class="main-list">
    <li class="list-item">
      <div class="list-item-element1">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
          hic, ut corrupti blanditiis numquam eligendi nisi delectus suscipit
          sapiente quos ea eius quasi totam molestiae non odio, cupiditate
          aperiam praesentium? Quo odit iure soluta ab maxime ullam! Esse,
          laudantium eaque magni possimus ipsum mollitia, corrupti, quod natus
          sequi architecto veniam.
        </p>
      </div>
      <div class="list-item-element2">
        <h2>Some random title</h2>
        <h3>Some random subtitle</h3>
      </div>
    </li>
  </ul>

  <div class="slider slick-header">
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
  </div>

  <div class="slider slick-small">
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="120"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
  </div>

  <div class="slider slick-description">
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="120"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="200"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
    <div class="slider-item">
      <img
        src="./images/bg@0.5x.jpg"
        alt="Some image"
        width="254"
        height="254"
      />
    </div>
  </div>

  <img src="./images/landing-footer-bg.png" alt="" width="600" />
</section>
<div class="container test-container">
  <p class="fonts-test1">
    MIMINO Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore,
    voluptas?
  </p>
  <p class="fonts-test2">
    MIMINO Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore,
    voluptas?
  </p>
  <p class="fonts-test3">
    MIMINO Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore,
    voluptas?
  </p>
  <p class="fonts-test4">
    MIMINO Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore,
    voluptas?
  </p>
  <p class="fonts-test5">
    MIMINO Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore,
    voluptas?
  </p>
  <p class="fonts-test6">
    MIMINO Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore,
    voluptas?
  </p>
  <p class="fonts-test7">
    MIMINO Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore,
    voluptas?
  </p>
  <p class="fonts-test8">
    MIMINO Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore,
    voluptas?
  </p>
</div>

<svg class="" width="30" height="30">
  <use href="images/icons.svg#icon-facebook"></use>
</svg>
<svg class="" width="30" height="30">
  <use href="images/icons.svg#icon-instagram"></use>
</svg>
<svg class="" width="30" height="30">
  <use href="images/icons.svg#icon-telegram"></use>
</svg>
<svg class="" width="30" height="30">
  <use href="images/icons.svg#icon-phone"></use>
</svg>
<svg class="" width="30" height="30">
  <use href="images/icons.svg#icon-arrow-right"></use>
</svg>
<svg class="" width="30" height="30">
  <use href="images/icons.svg#icon-arrow-left"></use>
</svg>
<svg class="" width="30" height="30">
  <use href="images/icons.svg#icon-angle-arrow-down"></use>
</svg>
<svg class="" width="30" height="30">
  <use href="images/icons.svg#icon-cross"></use>
</svg>

<button type="button" class="slick-header-prev js-open-modal" data-modal="1">
  <svg class="slick-header-prev-icon" width="40" height="40">
    <use href="images/icons.svg#icon-arrow-left"></use>
  </svg>
</button>

<button type="button" class="slick-header-next js-open-modal" data-modal="2">
  <svg class="slick-header-next-icon" width="40" height="40">
    <use href="images/icons.svg#icon-arrow-right"></use>
  </svg>
</button>

<button type="button" class="slick-header-next js-open-modal" data-modal="3">
  123
  <svg class="slick-header-next-icon" width="40" height="40">
    <use href="images/icons.svg#icon-arrow-right"></use>
  </svg>
</button>

<div class="backdrop js-backdrop-modal">
  <div class="modal modal1" data-modal="1">
    <button class="modal__button js-modal-close">X</button>
    <p class="modal__text">Modal #1</p>
  </div>
  <div class="modal modal2" data-modal="2">
    <button class="modal__button js-modal-close">X</button>
    <p class="modal__text">Modal #2</p>
  </div>
  <div class="modal modal3" data-modal="3">
    <button class="modal__button js-modal-close">X</button>
    <p class="modal__text">Modal #3</p>
  </div>
</div>
