<section class="section slider-section swiper" data-slider="team-slider">
  <div class="container">
    <h2 class="section-title slider-section__title">Слайдер</h2>
    <div class="swiper-viewport">
      <div class="swiper-container">
        <div class="swiper reverse">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="gallery-small-slider__img"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="gallery-small-slider__img"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">Slide 111</div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">Slide 222</div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">Slide 333</div>
            </li>
          </ul>

          <div class="swiper-btns">
            <button type="button" class="swiper-btn swiper-button-prev">
              Prev
            </button>
            <button type="button" class="swiper-btn swiper-button-next">
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
