<!-- <div class="gallery-small-slider swiper" data-slider="team-slider">
  <div class="gallery-small-slider__item">
    <picture>
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img1.jpg?as=webp&width=254 1x,
          ./images/hotel/small-slider/desktop/img1.jpg?as=webp&width=508 2x
        "
        media="(min-width:1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img1.jpg?width=254 1x,
          ./images/hotel/small-slider/desktop/img1.jpg?width=508 2x
        "
        media="(min-width:1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img1.jpg?as=webp&width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img1.jpg?as=webp&width=388 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img1.jpg?width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img1.jpg?width=388 2x
        "
        type="image/jpeg"
      />
      <img
        class="gallery-small-slider__img"
        src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
        alt="Фотографія з номеру готелю"
      />
    </picture>
  </div>

  <div class="gallery-small-slider__item">
    <picture>
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img2.jpg?as=webp&width=254 1x,
          ./images/hotel/small-slider/desktop/img2.jpg?as=webp&width=508 2x
        "
        media="(min-width:1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img2.jpg?width=254 1x,
          ./images/hotel/small-slider/desktop/img2.jpg?width=508 2x
        "
        media="(min-width:1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img2.jpg?as=webp&width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img2.jpg?as=webp&width=388 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img2.jpg?width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img2.jpg?width=388 2x
        "
        type="image/jpeg"
      />
      <img
        class="gallery-small-slider__img"
        src="./images/hotel/small-slider/mobile-and-tablet/img2.jpg"
        alt="Фотографія з номеру готелю"
      />
    </picture>
  </div>

  <div class="gallery-small-slider__item">
    <picture>
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img3.jpg?as=webp&width=254 1x,
          ./images/hotel/small-slider/desktop/img3.jpg?as=webp&width=508 2x
        "
        media="(min-width:1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img3.jpg?width=254 1x,
          ./images/hotel/small-slider/desktop/img3.jpg?width=508 2x
        "
        media="(min-width:1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img3.jpg?as=webp&width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img3.jpg?as=webp&width=388 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img3.jpg?width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img3.jpg?width=388 2x
        "
        type="image/jpeg"
      />
      <img
        class="gallery-small-slider__img"
        src="./images/hotel/small-slider/mobile-and-tablet/img3.jpg"
        alt="Фотографія з номеру готелю"
      />
    </picture>
  </div>

  <div class="gallery-small-slider__item">
    <picture>
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img4.jpg?as=webp&width=254 1x,
          ./images/hotel/small-slider/desktop/img4.jpg?as=webp&width=508 2x
        "
        media="(min-width:1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img4.jpg?width=254 1x,
          ./images/hotel/small-slider/desktop/img4.jpg?width=508 2x
        "
        media="(min-width:1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img4.jpg?as=webp&width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img4.jpg?as=webp&width=388 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img4.jpg?width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img4.jpg?width=388 2x
        "
        type="image/jpeg"
      />
      <img
        class="gallery-small-slider__img"
        src="./images/hotel/small-slider/mobile-and-tablet/img4.jpg"
        alt="Фотографія з номеру готелю"
      />
    </picture>
  </div>

  <div class="gallery-small-slider__item">
    <picture>
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img5.jpg?as=webp&width=254 1x,
          ./images/hotel/small-slider/desktop/img5.jpg?as=webp&width=508 2x
        "
        media="(min-width:1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img5.jpg?width=254 1x,
          ./images/hotel/small-slider/desktop/img5.jpg?width=508 2x
        "
        media="(min-width:1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img5.jpg?as=webp&width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img5.jpg?as=webp&width=388 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img5.jpg?width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img5.jpg?width=388 2x
        "
        type="image/jpeg"
      />
      <img
        class="gallery-small-slider__img"
        src="./images/hotel/small-slider/mobile-and-tablet/img5.jpg"
        alt="Фотографія з номеру готелю"
      />
    </picture>
  </div>

  <div class="gallery-small-slider__item">
    <picture>
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img6.jpg?as=webp&width=254 1x,
          ./images/hotel/small-slider/desktop/img6.jpg?as=webp&width=508 2x
        "
        media="(min-width:1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img6.jpg?width=254 1x,
          ./images/hotel/small-slider/desktop/img6.jpg?width=508 2x
        "
        media="(min-width:1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img6.jpg?as=webp&width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img6.jpg?as=webp&width=388 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img6.jpg?width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img6.jpg?width=388 2x
        "
        type="image/jpeg"
      />
      <img
        class="gallery-small-slider__img"
        src="./images/hotel/small-slider/mobile-and-tablet/img6.jpg"
        alt="Фотографія з номеру готелю"
      />
    </picture>
  </div>

  <div class="gallery-small-slider__item">
    <picture>
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img7.jpg?as=webp&width=254 1x,
          ./images/hotel/small-slider/desktop/img7.jpg?as=webp&width=508 2x
        "
        media="(min-width:1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img7.jpg?width=254 1x,
          ./images/hotel/small-slider/desktop/img7.jpg?width=508 2x
        "
        media="(min-width:1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img7.jpg?as=webp&width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img7.jpg?as=webp&width=388 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img7.jpg?width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img7.jpg?width=388 2x
        "
        type="image/jpeg"
      />
      <img
        class="gallery-small-slider__img"
        src="./images/hotel/small-slider/mobile-and-tablet/img7.jpg"
        alt="Фотографія з номеру готелю"
      />
    </picture>
  </div>

  <div class="gallery-small-slider__item">
    <picture>
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img8.jpg?as=webp&width=254 1x,
          ./images/hotel/small-slider/desktop/img8.jpg?as=webp&width=508 2x
        "
        media="(min-width:1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img8.jpg?width=254 1x,
          ./images/hotel/small-slider/desktop/img8.jpg?width=508 2x
        "
        media="(min-width:1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img8.jpg?as=webp&width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img8.jpg?as=webp&width=388 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img8.jpg?width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img8.jpg?width=388 2x
        "
        type="image/jpeg"
      />
      <img
        class="gallery-small-slider__img"
        src="./images/hotel/small-slider/mobile-and-tablet/img8.jpg"
        alt="Фотографія з номеру готелю"
      />
    </picture>
  </div>

  <div class="gallery-small-slider__item">
    <picture>
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img9.jpg?as=webp&width=254 1x,
          ./images/hotel/small-slider/desktop/img9.jpg?as=webp&width=508 2x
        "
        media="(min-width:1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img9.jpg?width=254 1x,
          ./images/hotel/small-slider/desktop/img9.jpg?width=508 2x
        "
        media="(min-width:1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img9.jpg?as=webp&width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img9.jpg?as=webp&width=388 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img9.jpg?width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img9.jpg?width=388 2x
        "
        type="image/jpeg"
      />
      <img
        class="gallery-small-slider__img"
        src="./images/hotel/small-slider/mobile-and-tablet/img9.jpg"
        alt="Фотографія з номеру готелю"
      />
    </picture>
  </div>

  <div class="gallery-small-slider__item">
    <picture>
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img10.jpg?as=webp&width=254 1x,
          ./images/hotel/small-slider/desktop/img10.jpg?as=webp&width=508 2x
        "
        media="(min-width:1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img10.jpg?width=254 1x,
          ./images/hotel/small-slider/desktop/img10.jpg?width=508 2x
        "
        media="(min-width:1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img10.jpg?as=webp&width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img10.jpg?as=webp&width=388 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img10.jpg?width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img10.jpg?width=388 2x
        "
        type="image/jpeg"
      />
      <img
        class="gallery-small-slider__img"
        src="./images/hotel/small-slider/mobile-and-tablet/img10.jpg"
        alt="Фотографія з номеру готелю"
      />
    </picture>
  </div>

  <div class="gallery-small-slider__item">
    <picture>
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img11.jpg?as=webp&width=254 1x,
          ./images/hotel/small-slider/desktop/img11.jpg?as=webp&width=508 2x
        "
        media="(min-width:1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/desktop/img11.jpg?width=254 1x,
          ./images/hotel/small-slider/desktop/img11.jpg?width=508 2x
        "
        media="(min-width:1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img11.jpg?as=webp&width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img11.jpg?as=webp&width=388 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/hotel/small-slider/mobile-and-tablet/img11.jpg?width=194 1x,
          ./images/hotel/small-slider/mobile-and-tablet/img11.jpg?width=388 2x
        "
        type="image/jpeg"
      />
      <img
        class="gallery-small-slider__img"
        src="./images/hotel/small-slider/mobile-and-tablet/img11.jpg"
        alt="Фотографія з номеру готелю"
      />
    </picture>
  </div>
</div> -->

<section class="section slider-section swiper" data-slider="team-slider">
  <div class="container">
    <h2 class="section-title slider-section__title">Слайдер</h2>
    <div class="swiper-viewport">
      <div class="swiper-container">
        <div class="swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="test-image"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                  width="270"
                  height="270"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="gallery-small-slider__img"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  class="gallery-small-slider__img"
                  src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
                  alt="Фотографія з номеру готелю"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">Slide 111</div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">Slide 222</div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">Slide 333</div>
            </li>
          </ul>

          <div class="swiper-btns">
            <button type="button" class="swiper-btn swiper-button-prev">
              Prev
            </button>
            <button type="button" class="swiper-btn swiper-button-next">
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="test-div">
  <img
    class="test-image"
    src="./images/hotel/small-slider/mobile-and-tablet/img1.jpg"
    alt="Фотографія з номеру готелю"
    width="270"
    height="270"
  />
</div>
