.details-restaurant__flex-container {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    justify-content: normal;
  }
}

.details-restaurant__flex--desktop-margin {
  @media screen and (min-width: $tablet) {
    margin-left: 32px;
  }
}

.details-restaurant__overlay {
  // margin: 0 auto;
  // // max-width: 414px;
  // max-width: 480px;
  // padding-top: 30px;
  // padding-left: 30px;
  // padding-bottom: 30px;
  // padding: 30px;
  background-position: center;
  background-size: cover;
  // background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right,
      rgba(var(--primary-dark-rgb), 0.65),
      rgba(var(--primary-dark-rgb), 0.65)),
    url(../images/details-restaurant-bg-mobile.jpg?as=webp);

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(to right,
          rgba(var(--primary-dark-rgb), 0.65),
          rgba(var(--primary-dark-rgb), 0.65)),
        url(../images/details-restaurant-bg-mobile@2x.jpg?as=webp);
    }
  }

  @media screen and (min-width: 415px) {
    max-width: 1024px;
    // padding-left: 50px;
    // padding-right: 50px;
    // padding-bottom: 96px;
    // padding-top: 48px;

    & {
      background-image: linear-gradient(to right,
          rgba(var(--primary-dark-rgb), 0.65),
          rgba(var(--primary-dark-rgb), 0.65)),
        url(../images/details-restaurant-bg-tablet.jpg?as=webp);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right,
            rgba(var(--primary-dark-rgb), 0.65),
            rgba(var(--primary-dark-rgb), 0.65)),
          url(../images/details-restaurant-bg-tablet@2x.jpg?as=webp);
      }
    }
  }

  @media screen and (min-width: 1025px) {
    max-width: 1280px;
    margin: 0 auto;

    & {
      background-image: linear-gradient(to right,
          rgba(var(--primary-dark-rgb), 0.65),
          rgba(var(--primary-dark-rgb), 0.65)),
        url(../images/details-restaurant-bg-desktop.jpg?as=webp);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right,
            rgba(var(--primary-dark-rgb), 0.65),
            rgba(var(--primary-dark-rgb), 0.65)),
          url(../images/details-restaurant-bg-desktop@2x.jpg?as=webp);
      }
    }
  }
}

.details-restaurant {
  margin: 0 auto;
  // max-width: 414px;
  max-width: 480px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  // padding: 30px;
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-image: linear-gradient(to right,
  //     rgba(var(--primary-dark-rgb), 0.65),
  //     rgba(var(--primary-dark-rgb), 0.65)),
  //   url(../images/details-restaurant-bg-mobile.jpg?as=webp);

  // @media screen and (min-device-pixel-ratio: 2),
  // screen and (min-resolution: 192dpi),
  // screen and (min-resolution: 2dppx) {
  //   & {
  //     background-image: linear-gradient(to right,
  //         rgba(var(--primary-dark-rgb), 0.65),
  //         rgba(var(--primary-dark-rgb), 0.65)),
  //       url(../images/details-restaurant-bg-mobile@2x.jpg?as=webp);
  //   }
  // }

  @media screen and (min-width: 415px) {
    // max-width: 1024px;
    // padding-left: 50px;
    // padding-right: 50px;
    padding-bottom: 96px;
    padding-top: 48px;
    // margin: 0 auto;
    // & {
    //   background-image: linear-gradient(to right,
    //       rgba(var(--primary-dark-rgb), 0.65),
    //       rgba(var(--primary-dark-rgb), 0.65)),
    //     url(../images/details-restaurant-bg-tablet.jpg?as=webp);
    // }

    // @media screen and (min-device-pixel-ratio: 2),
    // screen and (min-resolution: 192dpi),
    // screen and (min-resolution: 2dppx) {
    //   & {
    //     background-image: linear-gradient(to right,
    //         rgba(var(--primary-dark-rgb), 0.65),
    //         rgba(var(--primary-dark-rgb), 0.65)),
    //       url(../images/details-restaurant-bg-tablet@2x.jpg?as=webp);
    //   }
    // }
  }

  @media screen and (min-width: 1025px) {
    max-width: 1280px;
    // margin: 0 auto;

    // & {
    //   background-image: linear-gradient(to right,
    //       rgba(var(--primary-dark-rgb), 0.65),
    //       rgba(var(--primary-dark-rgb), 0.65)),
    //     url(../images/details-restaurant-bg-desktop.jpg?as=webp);
    // }

    // @media screen and (min-device-pixel-ratio: 2),
    // screen and (min-resolution: 192dpi),
    // screen and (min-resolution: 2dppx) {
    //   & {
    //     background-image: linear-gradient(to right,
    //         rgba(var(--primary-dark-rgb), 0.65),
    //         rgba(var(--primary-dark-rgb), 0.65)),
    //       url(../images/details-restaurant-bg-desktop@2x.jpg?as=webp);
    //   }
    // }
  }
}

.no-webp.details-restaurant__overlay {
  // margin: 0 auto;
  // max-width: 414px;
  // padding-top: 30px;
  // padding-left: 30px;
  // padding-bottom: 30px;
  // padding: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right,
      rgba(var(--primary-dark-rgb), 0.65),
      rgba(var(--primary-dark-rgb), 0.65)),
    url(../images/details-restaurant-bg-mobile.jpg);

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(to right,
          rgba(var(--primary-dark-rgb), 0.65),
          rgba(var(--primary-dark-rgb), 0.65)),
        url(../images/details-restaurant-bg-mobile@2x.jpg);
    }
  }

  @media screen and (min-width: 415px) {
    max-width: 1024px;
    // padding-left: 50px;
    // padding-right: 50px;
    // padding-bottom: 96px;
    // padding-top: 48px;

    & {
      background-image: linear-gradient(to right,
          rgba(var(--primary-dark-rgb), 0.65),
          rgba(var(--primary-dark-rgb), 0.65)),
        url(../images/details-restaurant-bg-tablet.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right,
            rgba(var(--primary-dark-rgb), 0.65),
            rgba(var(--primary-dark-rgb), 0.65)),
          url(../images/details-restaurant-bg-tablet@2x.jpg);
      }
    }
  }

  @media screen and (min-width: 1025px) {
    max-width: 1280px;
    margin: 0 auto;

    & {
      background-image: linear-gradient(to right,
          rgba(var(--primary-dark-rgb), 0.65),
          rgba(var(--primary-dark-rgb), 0.65)),
        url(../images/details-restaurant-bg-desktop.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right,
            rgba(var(--primary-dark-rgb), 0.65),
            rgba(var(--primary-dark-rgb), 0.65)),
          url(../images/details-restaurant-bg-desktop@2x.jpg);
      }
    }
  }
}

.details-restaurant__title-box {
  margin-left: 80px;
  margin-bottom: 48px;
  padding-right: 30px;

  @media screen and (min-width: 415px) {
    margin-left: 120px;
  }

  @media screen and (min-width: $tablet) {
    margin-left: 0;
    margin-bottom: 40px;
    padding-right: 0;

    transform: translateX(-34px);
  }

  @media screen and (min-width: $desktop) {
    transform: translateX(-15px);
  }
}

.details-hotel__overlay {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right,
      rgba(var(--primary-dark-rgb), 0.65),
      rgba(var(--primary-dark-rgb), 0.65)),
    url(../images/details-hotel-bg-mobile.jpg?as=webp);

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(to right,
          rgba(var(--primary-dark-rgb), 0.65),
          rgba(var(--primary-dark-rgb), 0.65)),
        url(../images/details-hotel-bg-mobile@2x.jpg?as=webp);
    }
  }

  @media screen and (min-width: 415px) {
    max-width: 1024px;
    // padding-left: 50px;
    // padding-right: 50px;
    // padding-bottom: 96px;
    // padding-top: 48px;

    & {
      background-image: linear-gradient(to right,
          rgba(var(--primary-dark-rgb), 0.65),
          rgba(var(--primary-dark-rgb), 0.65)),
        url(../images/details-hotel-bg-tablet.jpg?as=webp);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right,
            rgba(var(--primary-dark-rgb), 0.65),
            rgba(var(--primary-dark-rgb), 0.65)),
          url(../images/details-hotel-bg-tablet@2x.jpg?as=webp);
      }
    }
  }

  @media screen and (min-width: 1025px) {
    max-width: 1280px;
    margin: 0 auto;

    & {
      background-image: linear-gradient(to right,
          rgba(var(--primary-dark-rgb), 0.65),
          rgba(var(--primary-dark-rgb), 0.65)),
        url(../images/details-hotel-bg-desktop.jpg?as=webp);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right,
            rgba(var(--primary-dark-rgb), 0.65),
            rgba(var(--primary-dark-rgb), 0.65)),
          url(../images/details-hotel-bg-desktop@2x.jpg?as=webp);
      }
    }
  }
}

.details-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--primary-light);
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 8px;
  }
}

.details-restaurant__descr {
  max-width: 243px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--bg-image-secondary);

  @media screen and (min-width: $tablet) {
    max-width: none;
    font-size: 16px;
    line-height: 1.25;
    width: 545px;
    // margin-right: 130px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 600px;
  }
}

.details-buttons {
  letter-spacing: 0.02em;

  @media screen and (max-width: 1023px) {
    text-align: center;
    // max-width: 400px;
  }

  // margin-top: 32px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // margin-bottom: 70px;
  }

  &--right-padding {
    padding-right: 30px;
    // max-width: 400px;

    @media screen and (min-width: calc($mobile + 1px)) {
      // padding-right: 0;
      padding-right: 30px;
    }
  }

  &--left-padding {
    padding-left: 30px;

    @media screen and (min-width: calc($mobile + 1px)) {
      padding-left: 0;
    }
  }
}

.details-button {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  @include button-transparent();
  padding: 12px 0px;

  //  cursor: pointer;
  transition: background-color var(--time) var(--cubic);

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &:hover,
  &:focus,
  &:active {
    background: var(--primary-light);
    border: 2px solid var(--secondary);
    border-radius: 25px;
  }
}

.details-hotel {
  overflow-x: hidden;
  max-width: 414px;
  // min-width: 430px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  // overflow: hidden;
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-image: linear-gradient(to right,
  //     rgba(var(--primary-dark-rgb), 0.65),
  //     rgba(var(--primary-dark-rgb), 0.65)),
  //   url(../images/details-hotel-bg-mobile.jpg?as=webp);

  // @media screen and (min-device-pixel-ratio: 2),
  // screen and (min-resolution: 192dpi),
  // screen and (min-resolution: 2dppx) {
  //   & {
  //     background-image: linear-gradient(to right,
  //         rgba(var(--primary-dark-rgb), 0.65),
  //         rgba(var(--primary-dark-rgb), 0.65)),
  //       url(../images/details-hotel-bg-mobile@2x.jpg?as=webp);
  //   }
  // }

  @media screen and (min-width: 415px) {
    // max-width: 1024px;
    // padding-left: 50px;
    // padding-right: 50px;
    padding-bottom: 96px;
    padding-top: 48px;

    //   & {
    //     background-image: linear-gradient(to right,
    //         rgba(var(--primary-dark-rgb), 0.65),
    //         rgba(var(--primary-dark-rgb), 0.65)),
    //       url(../images/details-hotel-bg-tablet.jpg?as=webp);
    //   }

    //   @media screen and (min-device-pixel-ratio: 2),
    //   screen and (min-resolution: 192dpi),
    //   screen and (min-resolution: 2dppx) {
    //     & {
    //       background-image: linear-gradient(to right,
    //           rgba(var(--primary-dark-rgb), 0.65),
    //           rgba(var(--primary-dark-rgb), 0.65)),
    //         url(../images/details-hotel-bg-tablet@2x.jpg?as=webp);
    //     }
    //   }
    // }
    @media screen and (min-width: $tablet) {
      max-width: 1024px;
      overflow: visible;
    }

    @media screen and (min-width: $desktop) {
      margin: 0 auto;
      max-width: 1280px;
    }

    // @media screen and (min-width: $desktop) {
    //   max-width: 1280px;

    //   & {
    //     background-image: linear-gradient(to right,
    //         rgba(var(--primary-dark-rgb), 0.65),
    //         rgba(var(--primary-dark-rgb), 0.65)),
    //       url(../images/details-hotel-bg-desktop.jpg?as=webp);
    //   }

    //   @media screen and (min-device-pixel-ratio: 2),
    //   screen and (min-resolution: 192dpi),
    //   screen and (min-resolution: 2dppx) {
    //     & {
    //       background-image: linear-gradient(to right,
    //           rgba(var(--primary-dark-rgb), 0.65),
    //           rgba(var(--primary-dark-rgb), 0.65)),
    //         url(../images/details-hotel-bg-desktop@2x.jpg?as=webp);
    //     }
    //   }
    // }
  }
}

.details-restaurant__descr .no-webp.details-hotel {
  max-width: 414px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right,
      rgba(var(--primary-dark-rgb), 0.65),
      rgba(var(--primary-dark-rgb), 0.65)),
    url(../images/details-hotel-bg-mobile.jpg);

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(to right,
          rgba(var(--primary-dark-rgb), 0.65),
          rgba(var(--primary-dark-rgb), 0.65)),
        url(../images/details-hotel-bg-mobile@2x.jpg);
    }
  }

  @media screen and (min-width: $tablet) {
    max-width: 1024px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 48px;
    padding-bottom: 96px;

    & {
      background-image: linear-gradient(to right,
          rgba(var(--primary-dark-rgb), 0.65),
          rgba(var(--primary-dark-rgb), 0.65)),
        url(../images/details-hotel-bg-tablet.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right,
            rgba(var(--primary-dark-rgb), 0.65),
            rgba(var(--primary-dark-rgb), 0.65)),
          url(../images/details-hotel-bg-tablet@2x.jpg);
      }
    }
  }

  @media screen and (min-width: $desktop) {
    max-width: 1280px;

    & {
      background-image: linear-gradient(to right,
          rgba(var(--primary-dark-rgb), 0.65),
          rgba(var(--primary-dark-rgb), 0.65)),
        url(../images/details-hotel-bg-desktop.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right,
            rgba(var(--primary-dark-rgb), 0.65),
            rgba(var(--primary-dark-rgb), 0.65)),
          url(../images/details-hotel-bg-desktop@2x.jpg);
      }
    }
  }
}

.details-hotel__flex-container {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    // flex-direction: row-reverse;
  }

  @media screen and (min-width: $desktop) {
    padding-right: 30px;
  }
}

.details-hotel__title-box {
  margin-right: 108px;
  margin-bottom: 48px;
  text-align: right;
  padding-left: 30px;

  @media screen and (min-width: $tablet) {
    margin-right: 0;
    margin-bottom: 40px;
    padding-left: 0;

    transform: translateX(37px);
  }
}

.details-hotel__descr {
  max-width: 243px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--bg-image-secondary);
  text-align: left;

  @media screen and (min-width: $tablet) {
    max-width: none;
    font-size: 16px;
    line-height: 1.25;
    width: 545px;
    // margin-left: 197px;
  }

  @media screen and (min-width: $desktop) {
    // max-width: 600px;
    // margin-left: 347px;
    width: 547px;
  }
}

.details-hotel__flex--desktop-margin {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 32px;
    // width: 747px;
  }

  // @media screen and (min-width: $desktop) {
  //   // flex-grow: 2;
  //   // width: 890px;
  // }
}