.footer {
  background-color: var(--bg-footer);

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: $mobile) {
      flex-direction: row;
    }
    @media (min-width: $mobile) {
      justify-content: center;
      gap: 75px;
      padding-left: 59px;
      padding-right: 20px;
    }
    @media (min-width: $tablet) {
      gap: 163px;
      padding-left: 154px;
      padding-right: 122px;
    }
    @media (min-width: $desktop) {
      gap: 231px;
      padding-left: 216px;
      padding-right: 186px;
    }
    & .complex__logo {
      text-align: end;
    }
  }

  &__position-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    @media (min-width: $tablet) {
      flex-direction: row;
      gap: 137px;
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @media (min-width: $desktop) {
      gap: 199px;
    }
  }

  &__logo {
    display: block;
    font-family: 'FilmP3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: var(--secondary);
    padding-top: 40px;
    @media (min-width: $mobile) {
      padding-top: 0;
    }
    @media (min-width: $tablet) {
      font-size: 64px;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 16px;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35px;
    @media (min-width: $mobile) {
      margin-left: 10px;
      display: block;
    }

    @media (min-width: $tablet) {
      margin-left: 0;
    }
  }
  &__nav-link {
    color: var(--secondary);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  &__networks-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    @media (min-width: $mobile) {
      gap: 0;
    }
    @media (min-width: $tablet) {
      flex-direction: column-reverse;
      gap: 12px;
    }
  }

  &__networks-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 10px;
    // fill: var(--secondary);
  }

  &__span {
    display: none;
    font-size: 16px;
    line-height: 1.25;
    // color: var(--secondary);
    @media (min-width: $tablet) {
      display: block;
    }
  }

  &__networks-item {
    display: flex;
    justify-content: space-between;

    color: rgba(243, 198, 83, 0.7);

    transition: color var(--time) var(--cubic),
      border-color var(--time) var(--cubic);

    &:hover,
    &:focus {
      color: var(--secondary);
      border-color: var(--secondary);
    }

    @media (min-width: $tablet) {
      border: 0.5px solid rgba(243, 198, 83, 0.7);
      border-radius: 2px;
      // padding: 10px 12px;
      width: 144px;
      height: 40px;
    }
  }

  &__networks-icon {
    fill: currentColor;
  }
}
