.hero {
  position: relative;
  text-align: center;
  padding-top: 181px;
  padding-bottom: 20px;
}

.hero__body {
}

.hero__logo {
  font-family: 'FilmP3';
  text-transform: uppercase;

  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 80px;
  line-height: calc(103 / 96);
  letter-spacing: 0.3em;
  color: var(--primary-light);

  & > span {
    letter-spacing: normal;
  }
  @media screen and (min-width: 370px) {
    font-size: 96px;
  }

  // @media screen and (max-width: 414px) {
  //   font-size: 96px;
  //   line-height: 1.1;
  //   padding-top: 181px;
  //   margin-bottom: 24px;
  // }

  // @media screen and (max-width: 1024px) {
  //   margin-bottom: 16px;
  //   padding-top: 88px;
  // }
}

.hero__title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--primary-light);
  margin-left: auto;
  margin-right: auto;

  // @media screen and (max-width: 414px) {
  //   margin-bottom: 40px;
  // }

  // @media acreen and (max-width: 1024px) {
  //   margin-bottom: 56px;
  // }
}

.hero__text {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: calc(37 / 32);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--primary-light);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 113px;

  // @media screen and (max-width: 414px) {
  //   font-size: 32px;
  //   line-height: 1.2;
  //   margin-bottom: 113px;
  // }

  // @media screen and (max-width: 1024px) {
  //   margin-bottom: 137px;
  // }
}

.hero__adress-buttons {
  margin-bottom: 58px;
  // @media screen and (min-width: 414px) {
  //   margin-bottom: 58px;
  // }

  // @media screen and (min-width: 1024px) {
  //   margin-bottom: 25px;
  // }

  // @media screen and (min-width: 1200px) {
  //   padding-bottom: 64px;
  // }
}

.hero__address {
  display: flex;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 100px;
  width: 210px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.01em;
  color: var(--text-address);
  padding: 8px;

  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;

  @media screen and (min-width: 370px) {
    top: 64px;
  }

  // @media screen and (max-width: 414px) {
  //   display: flex;
  //   align-items: center;
  //   font-size: 12px;
  //   line-height: 1.3;
  // }

  // @media screen and (max-width: 1024px) {
  // }

  // @media screen and (max-width: 1200px) {
  // }
}

.hero__address-location {
  fill: var(--secondary);
  margin-right: 8px;
}

.hero__address-icon {
  @media screen and (min-width: 414px) {
    display: flex;
  }
}

.hero__address-map {
  display: block;
  text-align: start;
}

.hero__buttons-list {
  margin-left: auto;
  display: flex;
  gap: 24px;
  align-items: center;

  flex-direction: column;

  // @media screen and (max-width: 414px) {
  //   display: block;
  //   margin-left: 0;
  // }
}

// .hero__item {
//   margin-left: 60px;

//   &:not(:last-child) {
//     margin-bottom: 24px;
//   }

//   @media screen and (max-width: 414px) {
//     display: flex;
//   }
// }

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  // color: var(--secondary);
  // padding: 14px 35px;
  // background-color: transparent;
  // border: 2px solid #ffffff;
  // border-radius: 25px;

  @include button-transparent() // &:hover,
    // &:focus {
    //   background-color: var(--primary-light);
    // }
    // @media screen and (max-width: 414px) {
    //   padding: 14px 24px;
    // }
    // @media screen and (max-width: 1024px) {
    //   padding: 14px 24px;
    // }
;
}

.hero__soc {
  display: flex;
  gap: 20px;
  @media screen and (min-width: 414px) {
  }

  // @media screen and (min-width: 1024px) {
  //   display: flex;
  //   text-decoration: none;
  //   list-style: none;
  //   gap: 20px;
  //   padding-bottom: 15px;
  //   padding-left: 15px;
  // }

  // @media screen and (min-width: 1200px) {
  //   display: none;
  // }
}

.hero__soc-icon {
  fill: rgba(243, 198, 83, 0.7);
  display: block;
}
