.modal {
  position: absolute;
  width: 414px;
  border-radius: 2px;
  z-index: 52;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fffdee;
  height: 668px;
  // visibility: hidden;
  // opacity: 0;
  // pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 15px;
}

.modal1.active {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.modal2.active {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.modal3.active {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.modal__button {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__icon {
  fill: black;
}

.modal_title {
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.modal_container {
  display: block;
}

.modal__input {
  width: 100%;
  height: 54px;
  padding: 16px;
  border: 1px solid #c79002;
  border-radius: 2px;
  margin-bottom: 8px;

  font-family: 'Times new roman';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.05em;

  color: #808080;
}

.modal-select {
  position: relative;
}

.modal__select {
  width: 100%;
  height: 54px;
  padding: 16px;
  padding-right: 40px;
  border: 1px solid #c79002;
  border-radius: 2px;
  margin-bottom: 8px;
}

.modal__icon-select {
  position: absolute;
  top: 15px;
  right: 15px;
  fill: #c79002;
}

.modal__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #c79002;

  margin-bottom: 20px;
}

.modal__button-submit {
  margin-top: 40px;
  margin-bottom: 60px;
  width: 100%;
  height: 64px;
  background-color: #000000;
  border: 1px solid #f3c653;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.329);
  z-index: 41;
  // visibility: hidden;
  // opacity: 0;
  // pointer-events: none;
  overflow: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.nice-select::after {
  // background-color: aqua;
  top: 50%;

  display: block;
  width: 24px;
  height: 24px;
  background-image: url('./../images/select-icon.svg');
  background-position: center;
  background-size: contain;
  transform: rotate(0) translateY(-30%);
  transform-origin: 50% 35%;
  border: none;
}

.nice-select.open::after {
  transform: rotate(180deg);
}

.nice-select span {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  font-family: 'Times new roman';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.05em;

  color: #808080;
}
