.complex__text {
  display: block;
  margin-bottom: 12px;

  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.15;

  color: var(--text-secondary-light);

  @media (min-width: 1024px) {
    font-size: 32px;
    margin-bottom: 4px;
  }
}

.complex__logo {
  display: block;

  font-family: 'FilmP3';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;

  text-transform: uppercase;
  letter-spacing: 0.3em;

  color: var(--text-mimino-dark);

  @media (min-width: 1024px) {
    font-size: 64px;
  }
}

.mb28px {
  @media (max-width: 1023px) {
    margin-bottom: 28px;
  }
}

// .mb142px {
//   margin-bottom: 142px;
// }

.about-section {
  padding-top: 16px;

  @media (min-width: 1024px) {
    padding-top: 120px;
    padding-bottom: 262px;
  }

  @media (min-width: 1280px) {
    padding-bottom: 207px;
  }
}

.about-section__container {
  position: relative;
}

.about-section__complex {
  margin-bottom: 12px;

  @media (min-width: 1024px) {
    margin-bottom: 24px;
  }
}

.about-section__list {
  margin-bottom: 32px;
}

.about-section__item {
  font-weight: 600;
  font-size: 12px;

  letter-spacing: 0.02em;

  color: var(--text-primary);

  &:first-child {
    margin-bottom: 32px;

    @media (min-width: 1024px) {
      margin-bottom: 142px;
    }

    @media (min-width: 1280px) {
      margin-bottom: 162px;
    }
  }

  @media (min-width: 1024px) {
    font-size: 16px;
  }

  &:nth-child(2n) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 12px;

    color: var(--secondary-dark);

    @media (min-width: 414px) {
      gap: 20px;
    }

    @media (min-width: 1024px) {
      gap: 48px;
    }

    @media (min-width: 1280px) {
      gap: 32px;
    }
  }
}

.about-section__descr {
  max-width: 258px;

  @media (min-width: 1024px) {
    max-width: 439px;

    &--accent {
      max-width: 312px;
    }
  }

  @media (min-width: 1280px) {
    max-width: 518px;

    &--accent {
      max-width: 312px;
    }
  }
}

.about-section__img {
  width: 100%;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  //   box-shadow: 2px 2px 60px 2px var((--primary-dark) / 0.25);
  border-radius: 2px;

  &--bigger {
    @media (max-width: 1023px) {
      max-width: 244px;
      margin-left: auto;
    }

    @media (min-width: 1024px) {
      position: absolute;
      top: -152px;
      right: 112px;

      width: 400px;
      height: 524px;
    }

    @media (min-width: 1280px) {
      right: 180px;

      width: 460px;
      height: 574px;
    }
  }

  &--normal {
    @media (max-width: 1023px) {
      max-width: 200px;
      margin-left: auto;
    }

    @media (min-width: 1024px) {
      width: 350px;
      height: 500px;
    }

    @media (min-width: 1280px) {
      width: 460px;
      height: 574px;
    }
  }
}
