.menu {
  @media (min-width: $tablet) {
    background-color: var(--bg-dark);
  }

  &__heading {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.15;
    text-transform: uppercase;
    max-width: 318px;
    text-align: left;
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (max-width: $mobile) {
      font-size: 29px;
      // background-color: var(--bg-dark);
    }
    @media screen and (min-width: $tablet) {
      padding-bottom: 40px;
      padding-top: 58px;
    }
  }
}

.table {
  width: min(100%, 384px);

  @media screen and (min-width: $tablet) {
    width: 410px;
    break-inside: avoid;
    margin-right: 45px;
  }

  &__title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: left;
    padding-bottom: 16px;

    @media screen and (min-width: $tablet) {
      font-size: 24px;
      line-height: 1.16;
      padding-bottom: 20px;
    }
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;

    @media screen and (min-width: $tablet) {
      column-count: 2;
      column-gap: 89px;
    }

    @media screen and (min-width: $desktop) {
      column-gap: 143px;
    }
  }

  &__list {
    list-style: none;
    margin-bottom: 16px;
  }

  &__thead {
    display: none;
  }
}

.table__row {
  &__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-bottom: 4px;
    width: 243px;
    text-align: left;

    @media screen and (min-width: $tablet) {
      width: 229px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
      width: 300px;
    }
  }

  &__name-second {
    padding-bottom: 11px;
    text-align: left;
  }

  &__aside {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
    text-align: left;
    width: 220px;
  }

  &__weight {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    width: 85px;
  }

  &__price {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    width: 85px;

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }
}

.list {
  margin-bottom: 0;
}

.menu__button-open {
  @include button-dark;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  min-width: 236px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $tablet) {
    margin-left: 70px;
    margin-right: 0;
  }
}

.div-button {
  display: flex;

  @media screen and (min-width: $tablet) {
    justify-content: right;
    margin-right: 25px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: right;
    margin-right: 85px;
  }
}
