<section class="contacts">
    <div class="container contacts__container">
        <div class="contacts__box"> 
            <div class="contacts__content">
                <h2 class="visually-hidden">Контакты</h2>
                    <div class="complex contacts__complex ">
                <span class="complex__logo">MIMIHO</span>
                    </div>
                    <p class="contacts__deskript">Ресторанно-готельний комплекс</p>
                    <address>
                        <ul class="list contacts__list">
                            <li class="contacts__item">
                            <span class="contacts__text">Ресторан</span>
                            <div class="contacts__fild">
                                <a class="link contacts__link " href="0955559533">
                                    <svg class="contacts__icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-phone"></use>
                                    </svg>
                                    095 555 95 33
                                </a>
                            </div>
                            </li>

                            <li class="contacts__item">
                                <span class="contacts__text">Готель</span>
                                <div class="contacts__fild">
                                    <a class="link contacts__link" href="tel:0668491089">
                                        <svg class="contacts__icon" width="24" height="24">
                                        <use href="./images/icons.svg#icon-phone"></use>
                                        </svg>
                                         066 849 10 89
                                    </a>

                                    <a class="link contacts__link" href="tel:0672758540"> <span class="contacts__tel">067 275 85 40</span></a>
                                </div>
                            </li>
                            <li class="contacts__item">
                                <div class="contacts__fild contacts__fild-address">
                                    <a
                                        class="link contacts__link "
                                        href="https://goo.gl/maps/Tuiibg4xbJHGrywc6"
                                        target="_blank"
                                        rel="noopener noreferrer nofollow"
                                        >
                                        <svg class="contacts__icon" width="24" height="24">
                                        <use href="./images/icons.svg#icon-location"></use>
                                        </svg>
                                    Україна, м. Полтава,
                                    вул. Маршала Бірюзова, 15
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </address>
                    </div>
                   
            </div>
             <div class="contacts__map">
                <picture>
             

                <source
                  srcset="
                    ./images/map1024@1x.jpg 1x,
                    ./images/map1024@2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />

                <source
                  srcset="
                    ./images/map414@1x.jpg 1x,
                    ./images/map414@2x.jpg 2x
                  "
                />
                <img src="./images/map414@1x.jpg" alt="map" />
              </picture>
             <div class="contacts__iframe">
                         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54446.557864090566!2d34.50410770701484!3d49.60822171139765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e1!3m2!1sru!2sua!4v1674854143985!5m2!1sru!2sua" width="634" height="412" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
                </div>
            </div>      
        </div>
    </div>
</section>
