<div class="details-hotel__overlay">
  <section class="details-hotel js-bg">
    <!-- <div class="details-hotel__container"> -->
    <div class="details-hotel__flex-container">
      <div class="details-hotel__flex--desktop-margin">
        <div class="details-hotel__title-box">
          <div class="complex">
            <span class="complex__logo complex__logo--light" aria-label="Міміно"
              >Mimih<span>o</span></span
            >
          </div>
          <h2 class="details-title">Готель</h2>
          <p class="details-hotel__descr">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>

        <div class="gallery-details-slider gallery-details-slider--reversed slick-details-secondary">
          <div class="gallery-details-slider__item">
            <picture>
              <source srcset="
                  ./images/details-hotel/details-slider/desktop/img1.jpg?as=webp&width=270 1x,
                  ./images/details-hotel/details-slider/desktop/img1.jpg?as=webp&width=540 2x
                " media="(min-width:1280px)" type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/desktop/img1.jpg?width=270 1x,
                  ./images/details-hotel/details-slider/desktop/img1.jpg?width=540 2x
                " media="(min-width:1280px)" type="image/jpeg" />
              <source srcset="
                  ./images/details-hotel/details-slider/tablet/img1.jpg?as=webp&width=162 1x,
                  ./images/details-hotel/details-slider/tablet/img1.jpg?as=webp&width=324 2x
                " media="(min-width:1024px)" type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/tablet/img1.jpg?width=162 1x,
                  ./images/details-hotel/details-slider/tablet/img1.jpg?width=324 2x
                " media="(min-width:1024px)" type="image/jpeg" />
              <source srcset="
                  ./images/details-hotel/details-slider/mobile/img1.jpg?as=webp&width=270 1x,
                  ./images/details-hotel/details-slider/mobile/img1.jpg?as=webp&width=540 2x
                " type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/mobile/img1.jpg?width=270 1x,
                  ./images/details-hotel/details-slider/mobile/img1.jpg?width=540 2x
                " type="image/jpeg" />
              <img class="gallery-details-slider__img" src="./images/details-hotel/details-slider/tablet/img1.jpg"
                alt="Фотографія з номеру готелю" />
            </picture>
          </div>

          <div class="gallery-details-slider__item">
            <picture>
              <source srcset="
                  ./images/details-hotel/details-slider/desktop/img2.jpg?as=webp&width=162 1x,
                  ./images/details-hotel/details-slider/desktop/img2.jpg?as=webp&width=324 2x
                " media="(min-width:1280px)" type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/desktop/img2.jpg?width=162 1x,
                  ./images/details-hotel/details-slider/desktop/img2.jpg?width=324 2x
                " media="(min-width:1280px)" type="image/jpeg" />
              <source srcset="
                  ./images/details-hotel/details-slider/tablet/img2.jpg?as=webp&width=162 1x,
                  ./images/details-hotel/details-slider/tablet/img2.jpg?as=webp&width=324 2x
                " media="(min-width:1024px)" type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/tablet/img2.jpg?width=162 1x,
                  ./images/details-hotel/details-slider/tablet/img2.jpg?width=324 2x
                " media="(min-width:1024px)" type="image/jpeg" />
              <source srcset="
                  ./images/details-hotel/details-slider/mobile/img2.jpg?as=webp&width=274 1x,
                  ./images/details-hotel/details-slider/mobile/img2.jpg?as=webp&width=548 2x
                " type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/mobile/img2.jpg?width=274 1x,
                  ./images/details-hotel/details-slider/mobile/img2.jpg?width=548 2x
                " type="image/jpeg" />
              <img class="gallery-details-slider__img" src="./images/details-hotel/details-slider/tablet/img2.jpg"
                alt="Фотографія з номеру готелю" />
            </picture>
          </div>

          <div class="gallery-details-slider__item">
            <picture>
              <source srcset="
                  ./images/details-hotel/details-slider/desktop/img3.jpg?as=webp&width=270 1x,
                  ./images/details-hotel/details-slider/desktop/img3.jpg?as=webp&width=540 2x
                " media="(min-width:1280px)" type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/desktop/img3.jpg?width=270 1x,
                  ./images/details-hotel/details-slider/desktop/img3.jpg?width=540 2x
                " media="(min-width:1280px)" type="image/jpeg" />
              <source srcset="
                  ./images/details-hotel/details-slider/tablet/img3.jpg?as=webp&width=270 1x,
                  ./images/details-hotel/details-slider/tablet/img3.jpg?as=webp&width=540 2x
                " media="(min-width:1024px)" type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/tablet/img3.jpg?width=270 1x,
                  ./images/details-hotel/details-slider/tablet/img3.jpg?width=540 2x
                " media="(min-width:1024px)" type="image/jpeg" />
              <source srcset="
                  ./images/details-hotel/details-slider/mobile/img3.jpg?as=webp&width=274 1x,
                  ./images/details-hotel/details-slider/mobile/img3.jpg?as=webp&width=548 2x
                " type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/mobile/img3.jpg?width=274 1x,
                  ./images/details-hotel/details-slider/mobile/img3.jpg?width=548 2x
                " type="image/jpeg" />
              <img class="gallery-details-slider__img" src="./images/details-hotel/details-slider/tablet/img3.jpg"
                alt="Фотографія з номеру готелю" />
            </picture>
          </div>

          <!-- test -->
          <div class="gallery-details-slider__item">
            <picture>
              <source srcset="
                  ./images/details-hotel/details-slider/desktop/img1.jpg?as=webp&width=270 1x,
                  ./images/details-hotel/details-slider/desktop/img1.jpg?as=webp&width=540 2x
                " media="(min-width:1280px)" type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/desktop/img1.jpg?width=270 1x,
                  ./images/details-hotel/details-slider/desktop/img1.jpg?width=540 2x
                " media="(min-width:1280px)" type="image/jpeg" />
              <source srcset="
                  ./images/details-hotel/details-slider/tablet/img1.jpg?as=webp&width=162 1x,
                  ./images/details-hotel/details-slider/tablet/img1.jpg?as=webp&width=324 2x
                " media="(min-width:1024px)" type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/tablet/img1.jpg?width=162 1x,
                  ./images/details-hotel/details-slider/tablet/img1.jpg?width=324 2x
                " media="(min-width:1024px)" type="image/jpeg" />
              <source srcset="
                  ./images/details-hotel/details-slider/mobile/img1.jpg?as=webp&width=270 1x,
                  ./images/details-hotel/details-slider/mobile/img1.jpg?as=webp&width=540 2x
                " type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/mobile/img1.jpg?width=270 1x,
                  ./images/details-hotel/details-slider/mobile/img1.jpg?width=540 2x
                " type="image/jpeg" />
              <img class="gallery-details-slider__img" src="./images/details-hotel/details-slider/tablet/img1.jpg"
                alt="Фотографія з номеру готелю" />
            </picture>
          </div>

          <div class="gallery-details-slider__item">
            <picture>
              <source srcset="
                  ./images/details-hotel/details-slider/desktop/img2.jpg?as=webp&width=162 1x,
                  ./images/details-hotel/details-slider/desktop/img2.jpg?as=webp&width=324 2x
                " media="(min-width:1280px)" type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/desktop/img2.jpg?width=162 1x,
                  ./images/details-hotel/details-slider/desktop/img2.jpg?width=324 2x
                " media="(min-width:1280px)" type="image/jpeg" />
              <source srcset="
                  ./images/details-hotel/details-slider/tablet/img2.jpg?as=webp&width=162 1x,
                  ./images/details-hotel/details-slider/tablet/img2.jpg?as=webp&width=324 2x
                " media="(min-width:1024px)" type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/tablet/img2.jpg?width=162 1x,
                  ./images/details-hotel/details-slider/tablet/img2.jpg?width=324 2x
                " media="(min-width:1024px)" type="image/jpeg" />
              <source srcset="
                  ./images/details-hotel/details-slider/mobile/img2.jpg?as=webp&width=274 1x,
                  ./images/details-hotel/details-slider/mobile/img2.jpg?as=webp&width=548 2x
                " type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/mobile/img2.jpg?width=274 1x,
                  ./images/details-hotel/details-slider/mobile/img2.jpg?width=548 2x
                " type="image/jpeg" />
              <img class="gallery-details-slider__img" src="./images/details-hotel/details-slider/tablet/img2.jpg"
                alt="Фотографія з номеру готелю" />
            </picture>
          </div>

          <div class="gallery-details-slider__item">
            <picture>
              <source srcset="
                  ./images/details-hotel/details-slider/desktop/img3.jpg?as=webp&width=270 1x,
                  ./images/details-hotel/details-slider/desktop/img3.jpg?as=webp&width=540 2x
                " media="(min-width:1280px)" type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/desktop/img3.jpg?width=270 1x,
                  ./images/details-hotel/details-slider/desktop/img3.jpg?width=540 2x
                " media="(min-width:1280px)" type="image/jpeg" />
              <source srcset="
                  ./images/details-hotel/details-slider/tablet/img3.jpg?as=webp&width=270 1x,
                  ./images/details-hotel/details-slider/tablet/img3.jpg?as=webp&width=540 2x
                " media="(min-width:1024px)" type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/tablet/img3.jpg?width=270 1x,
                  ./images/details-hotel/details-slider/tablet/img3.jpg?width=540 2x
                " media="(min-width:1024px)" type="image/jpeg" />
              <source srcset="
                  ./images/details-hotel/details-slider/mobile/img3.jpg?as=webp&width=270 1x,
                  ./images/details-hotel/details-slider/mobile/img3.jpg?as=webp&width=540 2x
                " type="image/webp" />
              <source srcset="
                  ./images/details-hotel/details-slider/mobile/img3.jpg?width=270 1x,
                  ./images/details-hotel/details-slider/mobile/img3.jpg?width=540 2x
                " type="image/jpeg" />
              <img class="gallery-details-slider__img" src="./images/details-hotel/details-slider/tablet/img3.jpg"
                alt="Фотографія з номеру готелю" />
            </picture>
          </div>
        </div>
      </div>

      <div class="details-buttons details-buttons--left-padding">
        <button class="details-button js-open-modal" type="button" data-modal="2">
          Забронювати номер
        </button>
        <button class="details-button js-open-modal" type="button" data-modal="3">
          Переглянути ціни
        </button>
      </div>
    </div>
    <!-- </div> -->
  </section>
</div>