<section class="about-section">
  <div class="container about-section__container">
    <h2 class="visually-hidden">Про наш ресторан</h2>

    <div class="about-section__first-box about-section__first-box--reversed">
      <div
        class="about-section__text-box about-section__text-box--reversed mb28px"
      >
        <div
          class="complex about-section__complex about-section__complex--reversed"
        >
          <span class="complex__text">Amet minim mollit non</span>
          <span class="complex__logo" aria-label="Mimino"
            >Mimih<span>o</span></span
          >
        </div>
        <p class="about-section__descr about-section__descr--reversed">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/main-about-hotel/room-interior-mobile.jpg?as=webp&width=244 1x,
            ./images/main-about-hotel/room-interior-mobile.jpg?as=webp&width=488 2x,
            ./images/main-about-hotel/room-interior-mobile.jpg?as=webp&width=732 3x
          "
          media="(max-width:1023px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/main-about-hotel/room-interior-mobile.jpg?width=244 1x,
            ./images/main-about-hotel/room-interior-mobile.jpg?width=488 2x,
            ./images/main-about-hotel/room-interior-mobile.jpg?width=732 3x
          "
          media="(max-width:1023px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/main-about-hotel/room-interior-desktop.jpg?as=webp&width=460  1x,
            ./images/main-about-hotel/room-interior-desktop.jpg?as=webp&width=920  2x,
            ./images/main-about-hotel/room-interior-desktop.jpg?as=webp&width=1380 3x
          "
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/main-about-hotel/room-interior-desktop.jpg?width=460  1x,
            ./images/main-about-hotel/room-interior-desktop.jpg?width=920  2x,
            ./images/main-about-hotel/room-interior-desktop.jpg?width=1380 3x
          "
          media="(min-width:1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/main-about-hotel/room-interior-tablet.jpg?as=webp&width=400  1x,
            ./images/main-about-hotel/room-interior-tablet.jpg?as=webp&width=800  2x,
            ./images/main-about-hotel/room-interior-tablet.jpg?as=webp&width=1200 3x
          "
          media="(min-width:1024px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/main-about-hotel/room-interior-tablet.jpg?width=400  1x,
            ./images/main-about-hotel/room-interior-tablet.jpg?width=800  2x,
            ./images/main-about-hotel/room-interior-tablet.jpg?width=1200 3x
          "
          media="(min-width:1024px)"
          type="image/jpeg"
        />
        <img
          class="about-section__img about-section__img--bigger about-section__img--bigger-reversed"
          src="./images/main-about-hotel/room-interior-tablet.jpg"
          alt="Фото номеру готелю"
        />
      </picture>
    </div>
    <div class="about-section__second-box about-section__second-box--reversed">
      <p class="about-section__descr about-section__descr--accent">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            ./images/main-about-hotel/hotel-interior-mobile.jpg?as=webp&width=200 1x,
            ./images/main-about-hotel/hotel-interior-mobile.jpg?as=webp&width=400 2x,
            ./images/main-about-hotel/hotel-interior-mobile.jpg?as=webp&width=600 3x
          "
          media="(max-width:1023px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/main-about-hotel/hotel-interior-mobile.jpg?width=200 1x,
            ./images/main-about-hotel/hotel-interior-mobile.jpg?width=400 2x,
            ./images/main-about-hotel/hotel-interior-mobile.jpg?width=600 3x
          "
          media="(max-width:1023px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/main-about-hotel/hotel-interior-desktop.jpg?as=webp&width=460  1x,
            ./images/main-about-hotel/hotel-interior-desktop.jpg?as=webp&width=920  2x,
            ./images/main-about-hotel/hotel-interior-desktop.jpg?as=webp&width=1380 3x
          "
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/main-about-hotel/hotel-interior-desktop.jpg?width=460  1x,
            ./images/main-about-hotel/hotel-interior-desktop.jpg?width=920  2x,
            ./images/main-about-hotel/hotel-interior-desktop.jpg?width=1380 3x
          "
          media="(min-width:1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/main-about-hotel/hotel-interior-tablet.jpg?as=webp&width=350  1x,
            ./images/main-about-hotel/hotel-interior-tablet.jpg?as=webp&width=700  2x,
            ./images/main-about-hotel/hotel-interior-tablet.jpg?as=webp&width=1050 3x
          "
          media="(min-width:1024px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/main-about-hotel/hotel-interior-tablet.jpg?width=350  1x,
            ./images/main-about-hotel/hotel-interior-tablet.jpg?width=700  2x,
            ./images/main-about-hotel/hotel-interior-tablet.jpg?width=1050 3x
          "
          media="(min-width:1024px)"
          type="image/jpeg"
        />
        <img
          class="about-section__img about-section__img--normal about-section__img--normal--reversed about-section__img--small-shadow"
          src="./images/main-about-hotel/hotel-interior-tablet.jpg"
          alt="Фото інтер'єру готелю"
        />
      </picture>
    </div>

    <div
      class="gallery-small-slider gallery-small-slider--secondary gallery-small-slider--secondary-reversed slick-small"
    >
      <div class="gallery-small-slider__item">
        <picture>
          <source
            srcset="
              ./images/main-about-hotel/desktop/img1.jpg?as=webp&width=254 1x,
              ./images/main-about-hotel/desktop/img1.jpg?as=webp&width=508 2x,
              ./images/main-about-hotel/desktop/img1.jpg?as=webp&width=762 3x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/desktop/img1.jpg?width=254 1x,
              ./images/main-about-hotel/desktop/img1.jpg?width=508 2x,
              ./images/main-about-hotel/desktop/img1.jpg?width=762 3x
            "
            media="(min-width:1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main-about-hotel/tablet/img1.jpg?as=webp&width=194 1x,
              ./images/main-about-hotel/tablet/img1.jpg?as=webp&width=388 2x,
              ./images/main-about-hotel/tablet/img1.jpg?as=webp&width=582 3x
            "
            media="(min-width:1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/tablet/img1.jpg?width=194 1x,
              ./images/main-about-hotel/tablet/img1.jpg?width=388 2x,
              ./images/main-about-hotel/tablet/img1.jpg?width=582 3x
            "
            media="(min-width:1024px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main-about-hotel/mobile/img1.jpg?as=webp&width=245 1x,
              ./images/main-about-hotel/mobile/img1.jpg?as=webp&width=490 2x,
              ./images/main-about-hotel/mobile/img1.jpg?as=webp&width=735 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/mobile/img1.jpg?width=245 1x,
              ./images/main-about-hotel/mobile/img1.jpg?width=490 2x,
              ./images/main-about-hotel/mobile/img1.jpg?width=735 3x
            "
            type="image/jpeg"
          />
          <img
            class="gallery-small-slider__img"
            src="./images/main-about-hotel/tablet/img1.jpg"
            alt="Фотографія з номеру готелю"
          />
        </picture>
      </div>

      <div class="gallery-small-slider__item">
        <picture>
          <source
            srcset="
              ./images/main-about-hotel/desktop/img2.jpg?as=webp&width=254 1x,
              ./images/main-about-hotel/desktop/img2.jpg?as=webp&width=508 2x,
              ./images/main-about-hotel/desktop/img2.jpg?as=webp&width=762 3x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/desktop/img2.jpg?width=254 1x,
              ./images/main-about-hotel/desktop/img2.jpg?width=508 2x,
              ./images/main-about-hotel/desktop/img2.jpg?width=762 3x
            "
            media="(min-width:1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main-about-hotel/tablet/img2.jpg?as=webp&width=194 1x,
              ./images/main-about-hotel/tablet/img2.jpg?as=webp&width=388 2x,
              ./images/main-about-hotel/tablet/img2.jpg?as=webp&width=582 3x
            "
            media="(min-width:1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/tablet/img2.jpg?width=194 1x,
              ./images/main-about-hotel/tablet/img2.jpg?width=388 2x,
              ./images/main-about-hotel/tablet/img2.jpg?width=582 3x
            "
            media="(min-width:1024px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main-about-hotel/mobile/img2.jpg?as=webp&width=245 1x,
              ./images/main-about-hotel/mobile/img2.jpg?as=webp&width=490 2x,
              ./images/main-about-hotel/mobile/img2.jpg?as=webp&width=735 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/mobile/img2.jpg?width=245 1x,
              ./images/main-about-hotel/mobile/img2.jpg?width=490 2x,
              ./images/main-about-hotel/mobile/img2.jpg?width=735 3x
            "
            type="image/jpeg"
          />
          <img
            class="gallery-small-slider__img"
            src="./images/main-about-hotel/tablet/img2.jpg"
            alt="Фотографія з номеру готелю"
          />
        </picture>
      </div>

      <div class="gallery-small-slider__item">
        <picture>
          <source
            srcset="
              ./images/main-about-hotel/desktop/img3.jpg?as=webp&width=254 1x,
              ./images/main-about-hotel/desktop/img3.jpg?as=webp&width=508 2x,
              ./images/main-about-hotel/desktop/img3.jpg?as=webp&width=762 3x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/desktop/img3.jpg?width=254 1x,
              ./images/main-about-hotel/desktop/img3.jpg?width=508 2x,
              ./images/main-about-hotel/desktop/img3.jpg?width=762 3x
            "
            media="(min-width:1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main-about-hotel/tablet/img3.jpg?as=webp&width=194 1x,
              ./images/main-about-hotel/tablet/img3.jpg?as=webp&width=388 2x,
              ./images/main-about-hotel/tablet/img3.jpg?as=webp&width=582 3x
            "
            media="(min-width:1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/tablet/img3.jpg?width=194 1x,
              ./images/main-about-hotel/tablet/img3.jpg?width=388 2x,
              ./images/main-about-hotel/tablet/img3.jpg?width=582 3x
            "
            media="(min-width:1024px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main-about-hotel/mobile/img3.jpg?as=webp&width=245 1x,
              ./images/main-about-hotel/mobile/img3.jpg?as=webp&width=490 2x,
              ./images/main-about-hotel/mobile/img3.jpg?as=webp&width=735 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/mobile/img3.jpg?width=245 1x,
              ./images/main-about-hotel/mobile/img3.jpg?width=490 2x,
              ./images/main-about-hotel/mobile/img3.jpg?width=735 3x
            "
            type="image/jpeg"
          />
          <img
            class="gallery-small-slider__img"
            src="./images/main-about-hotel/tablet/img3.jpg"
            alt="Фотографія з номеру готелю"
          />
        </picture>
      </div>

      <div class="gallery-small-slider__item">
        <picture>
          <source
            srcset="
              ./images/main-about-hotel/desktop/img4.jpg?as=webp&width=254 1x,
              ./images/main-about-hotel/desktop/img4.jpg?as=webp&width=508 2x,
              ./images/main-about-hotel/desktop/img4.jpg?as=webp&width=762 3x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/desktop/img4.jpg?width=254 1x,
              ./images/main-about-hotel/desktop/img4.jpg?width=508 2x,
              ./images/main-about-hotel/desktop/img4.jpg?width=762 3x
            "
            media="(min-width:1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main-about-hotel/tablet/img4.jpg?as=webp&width=194 1x,
              ./images/main-about-hotel/tablet/img4.jpg?as=webp&width=388 2x,
              ./images/main-about-hotel/tablet/img4.jpg?as=webp&width=582 3x
            "
            media="(min-width:1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/tablet/img4.jpg?width=194 1x,
              ./images/main-about-hotel/tablet/img4.jpg?width=388 2x,
              ./images/main-about-hotel/tablet/img4.jpg?width=582 3x
            "
            media="(min-width:1024px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main-about-hotel/mobile/img4.jpg?as=webp&width=245 1x,
              ./images/main-about-hotel/mobile/img4.jpg?as=webp&width=490 2x,
              ./images/main-about-hotel/mobile/img4.jpg?as=webp&width=735 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/mobile/img4.jpg?width=245 1x,
              ./images/main-about-hotel/mobile/img4.jpg?width=490 2x,
              ./images/main-about-hotel/mobile/img4.jpg?width=735 3x
            "
            type="image/jpeg"
          />
          <img
            class="gallery-small-slider__img"
            src="./images/main-about-hotel/tablet/img4.jpg"
            alt="Фотографія з номеру готелю"
          />
        </picture>
      </div>

      <div class="gallery-small-slider__item">
        <picture>
          <source
            srcset="
              ./images/main-about-hotel/desktop/img5.jpg?as=webp&width=254 1x,
              ./images/main-about-hotel/desktop/img5.jpg?as=webp&width=508 2x,
              ./images/main-about-hotel/desktop/img5.jpg?as=webp&width=762 3x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/desktop/img5.jpg?width=254 1x,
              ./images/main-about-hotel/desktop/img5.jpg?width=508 2x,
              ./images/main-about-hotel/desktop/img5.jpg?width=762 3x
            "
            media="(min-width:1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main-about-hotel/tablet/img5.jpg?as=webp&width=194 1x,
              ./images/main-about-hotel/tablet/img5.jpg?as=webp&width=388 2x,
              ./images/main-about-hotel/tablet/img5.jpg?as=webp&width=582 3x
            "
            media="(min-width:1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/tablet/img5.jpg?width=194 1x,
              ./images/main-about-hotel/tablet/img5.jpg?width=388 2x,
              ./images/main-about-hotel/tablet/img5.jpg?width=582 3x
            "
            media="(min-width:1024px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main-about-hotel/mobile/img5.jpg?as=webp&width=245 1x,
              ./images/main-about-hotel/mobile/img5.jpg?as=webp&width=490 2x,
              ./images/main-about-hotel/mobile/img5.jpg?as=webp&width=735 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/mobile/img5.jpg?width=245 1x,
              ./images/main-about-hotel/mobile/img5.jpg?width=490 2x,
              ./images/main-about-hotel/mobile/img5.jpg?width=735 3x
            "
            type="image/jpeg"
          />
          <img
            class="gallery-small-slider__img"
            src="./images/main-about-hotel/tablet/img5.jpg"
            alt="Фотографія з номеру готелю"
          />
        </picture>
      </div>

      <div class="gallery-small-slider__item">
        <picture>
          <source
            srcset="
              ./images/main-about-hotel/desktop/img6.jpg?as=webp&width=254 1x,
              ./images/main-about-hotel/desktop/img6.jpg?as=webp&width=508 2x,
              ./images/main-about-hotel/desktop/img6.jpg?as=webp&width=762 3x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/desktop/img6.jpg?width=254 1x,
              ./images/main-about-hotel/desktop/img6.jpg?width=508 2x,
              ./images/main-about-hotel/desktop/img6.jpg?width=762 3x
            "
            media="(min-width:1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main-about-hotel/tablet/img6.jpg?as=webp&width=194 1x,
              ./images/main-about-hotel/tablet/img6.jpg?as=webp&width=388 2x,
              ./images/main-about-hotel/tablet/img6.jpg?as=webp&width=582 3x
            "
            media="(min-width:1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/tablet/img6.jpg?width=194 1x,
              ./images/main-about-hotel/tablet/img6.jpg?width=388 2x,
              ./images/main-about-hotel/tablet/img6.jpg?width=582 3x
            "
            media="(min-width:1024px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main-about-hotel/mobile/img6.jpg?as=webp&width=245 1x,
              ./images/main-about-hotel/mobile/img6.jpg?as=webp&width=490 2x,
              ./images/main-about-hotel/mobile/img6.jpg?as=webp&width=735 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-hotel/mobile/img6.jpg?width=245 1x,
              ./images/main-about-hotel/mobile/img6.jpg?width=490 2x,
              ./images/main-about-hotel/mobile/img6.jpg?width=735 3x
            "
            type="image/jpeg"
          />
          <img
            class="gallery-small-slider__img"
            src="./images/main-about-hotel/tablet/img6.jpg"
            alt="Фотографія з номеру готелю"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
