
<section class="about-section">
  <div class="container about-section__container">
    <h2 class="visually-hidden">About Our Kitchen</h2>
    <div class="complex about-section__complex">
      <span class="complex__text">Amet minim mollit non</span>
      <span class="complex__logo" aria-label="Mimino">Mimino</span>
    </div>
    <ul class="about-section__list list">
      <li class="about-section__item">
        <p class="about-section__descr mb28px">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture>
          <!-- Mobile -->
          <source
            srcset="
              ./images/main-about-restaurant/rest-interior-bigger-mobile.jpg?as=webp&width=244 1x,
              ./images/main-about-restaurant/rest-interior-bigger-mobile.jpg?as=webp&width=488 2x,
              ./images/main-about-restaurant/rest-interior-bigger-mobile.jpg?as=webp&width=732 3x
            "
            media="(max-width:1023px)"
            sizes=""
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-restaurant/rest-interior-bigger-mobile.jpg?width=244 1x,
              ./images/main-about-restaurant/rest-interior-bigger-mobile.jpg?width=488 2x,
              ./images/main-about-restaurant/rest-interior-bigger-mobile.jpg?width=732 3x
            "
            media="(max-width:1023px)"
            sizes=""
            type="image/jpeg"
          />
          <!-- Desktop -->
          <source
            srcset="
              ./images/main-about-restaurant/rest-interior-bigger-desktop.jpg?as=webp&width=460  1x,
              ./images/main-about-restaurant/rest-interior-bigger-desktop.jpg?as=webp&width=920  2x,
              ./images/main-about-restaurant/rest-interior-bigger-desktop.jpg?as=webp&width=1380 3x
            "
            media="(min-width:1280px)"
            sizes=""
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-restaurant/rest-interior-bigger-desktop.jpg?width=460  1x,
              ./images/main-about-restaurant/rest-interior-bigger-desktop.jpg?width=920  2x,
              ./images/main-about-restaurant/rest-interior-bigger-desktop.jpg?width=1380 3x
            "
            media="(min-width:1280px)"
            sizes=""
            type="image/jpeg"
          />
          <!-- Tablet -->
          <source
            srcset="
              ./images/main-about-restaurant/rest-interior-bigger-tablet.jpg?as=webp&width=400  1x,
              ./images/main-about-restaurant/rest-interior-bigger-tablet.jpg?as=webp&width=800  2x,
              ./images/main-about-restaurant/rest-interior-bigger-tablet.jpg?as=webp&width=1200 3x
            "
            media="(min-width:1024px)"
            sizes=""
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-restaurant/rest-interior-bigger-tablet.jpg?width=400  1x,
              ./images/main-about-restaurant/rest-interior-bigger-tablet.jpg?width=800  2x,
              ./images/main-about-restaurant/rest-interior-bigger-tablet.jpg?width=1200 3x
            "
            media="(min-width:1024px)"
            sizes=""
            type="image/jpeg"
          />
          <img
            class="about-section__img about-section__img--bigger"
            src="./images/main-about-restaurant/rest-interior-bigger-tablet.jpg"
            alt="The restaurant interior in loft style"
          />
        </picture>
      </li>
      <li class="about-section__item">
        <p class="about-section__descr about-section__descr--accent">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture>
          <!-- Mobile -->
          <source
            srcset="
              ./images/main-about-restaurant/rest-interior-normal-mobile.jpg?as=webp&width=200 1x,
              ./images/main-about-restaurant/rest-interior-normal-mobile.jpg?as=webp&width=400 2x,
              ./images/main-about-restaurant/rest-interior-normal-mobile.jpg?as=webp&width=600 3x
            "
            media="(max-width:1023px)"
            sizes=""
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-restaurant/rest-interior-normal-mobile.jpg?width=200 1x,
              ./images/main-about-restaurant/rest-interior-normal-mobile.jpg?width=400 2x,
              ./images/main-about-restaurant/rest-interior-normal-mobile.jpg?width=600 3x
            "
            media="(max-width:1023px)"
            sizes=""
            type="image/jpeg"
          />
          <!-- Desktop -->
          <source
            srcset="
              ./images/main-about-restaurant/rest-interior-normal-desktop.jpg?as=webp&width=460  1x,
              ./images/main-about-restaurant/rest-interior-normal-desktop.jpg?as=webp&width=920  2x,
              ./images/main-about-restaurant/rest-interior-normal-desktop.jpg?as=webp&width=1380 3x
            "
            media="(min-width:1280px)"
            sizes=""
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-restaurant/rest-interior-normal-desktop.jpg?width=460  1x,
              ./images/main-about-restaurant/rest-interior-normal-desktop.jpg?width=920  2x,
              ./images/main-about-restaurant/rest-interior-normal-desktop.jpg?width=1380 3x
            "
            media="(min-width:1280px)"
            sizes=""
            type="image/jpeg"
          />
          <!-- Tablet -->
          <source
            srcset="
              ./images/main-about-restaurant/rest-interior-normal-tablet.jpg?as=webp&width=350  1x,
              ./images/main-about-restaurant/rest-interior-normal-tablet.jpg?as=webp&width=700  2x,
              ./images/main-about-restaurant/rest-interior-normal-tablet.jpg?as=webp&width=1050 3x
            "
            media="(min-width:1024px)"
            sizes=""
            type="image/webp"
          />
          <source
            srcset="
              ./images/main-about-restaurant/rest-interior-normal-tablet.jpg?width=350  1x,
              ./images/main-about-restaurant/rest-interior-normal-tablet.jpg?width=700  2x,
              ./images/main-about-restaurant/rest-interior-normal-tablet.jpg?width=1050 3x
            "
            media="(min-width:1024px)"
            sizes=""
            type="image/jpeg"
          />
          <img
            class="about-section__img about-section__img--normal"
            src="./images/main-about-restaurant/rest-interior-normal-tablet.jpg"
            alt="The restaurant hall"
          />
        </picture>
      </li>
    </ul>

    <!-- Slider -->

    <div class="slick">
      <ul class="slick-small__list list">
        <li class="slick-small__item">
          <picture>
            <!-- Mobile -->
            <source
              srcset="
                ./images/main-about-restaurant/rest-interior-slider-01-mobile.jpg?as=webp&width=245 1x,
                ./images/main-about-restaurant/rest-interior-slider-01-mobile.jpg?as=webp&width=490 2x,
                ./images/main-about-restaurant/rest-interior-slider-01-mobile.jpg?as=webp&width=735 3x
              "
              media="(max-width:1023px)"
              sizes=""
              type="image/webp"
            />
            <source
              srcset="
                ./images/main-about-restaurant/rest-interior-slider-01-mobile.jpg?width=245 1x,
                ./images/main-about-restaurant/rest-interior-slider-01-mobile.jpg?width=490 2x,
                ./images/main-about-restaurant/rest-interior-slider-01-mobile.jpg?width=735 3x
              "
              media="(max-width:1023px)"
              sizes=""
              type="image/jpeg"
            /> -->
            <!-- Desktop -->
            <!-- <source
              srcset="
                ./images/main-about-restaurant/rest-interior-slider-01-desktop.jpg?as=webp&width=254 1x,
                ./images/main-about-restaurant/rest-interior-slider-01-desktop.jpg?as=webp&width=508 2x,
                ./images/main-about-restaurant/rest-interior-slider-01-desktop.jpg?as=webp&width=762 3x
              "
              media="(min-width:1280px)"
              sizes=""
              type="image/webp"
            />
            <source
              srcset="
                ./images/main-about-restaurant/rest-interior-slider-01-desktop.jpg?width=254 1x,
                ./images/main-about-restaurant/rest-interior-slider-01-desktop.jpg?width=508 2x,
                ./images/main-about-restaurant/rest-interior-slider-01-desktop.jpg?width=762 3x
              "
              media="(min-width:1280px)"
              sizes=""
              type="image/jpeg"
            />
            <!-- Tablet -->
            <source
              srcset="
                ./images/main-about-restaurant/rest-interior-slider-01-tablet.jpg?as=webp&width=194 1x,
                ./images/main-about-restaurant/rest-interior-slider-01-tablet.jpg?as=webp&width=388 2x,
                ./images/main-about-restaurant/rest-interior-slider-01-tablet.jpg?as=webp&width=582 3x
              "
              media="(min-width:1024px)"
              sizes=""
              type="image/webp"
            />
            <source
              srcset="
                ./images/main-about-restaurant/rest-interior-slider-01-tablet.jpg?width=194 1x,
                ./images/main-about-restaurant/rest-interior-slider-01-tablet.jpg?width=388 2x,
                ./images/main-about-restaurant/rest-interior-slider-01-tablet.jpg?width=582 3x
              "
              media="(min-width:1024px)"
              sizes=""
              type="image/jpeg"
            />
            <img
              class="slick-small__box"
              src="./images/main-about-restaurant/rest-interior-slider-01-desktop.jpg"
              alt="Woman holding a glass of wine at the table"
            />
          </picture>
        </li>
        <li class="slick-small__item">
          <picture>
            <!-- Mobile -->
            <source
              srcset="
                ./images/main-about-restaurant/rest-interior-slider-02-mobile.jpg?as=webp&width=61  1x,
                ./images/main-about-restaurant/rest-interior-slider-02-mobile.jpg?as=webp&width=122 2x,
                ./images/main-about-restaurant/rest-interior-slider-02-mobile.jpg?as=webp&width=183 3x
              "
              media="(max-width:1023px)"
              sizes=""
              type="image/webp"
            />
            <source
              srcset="
                ./images/main-about-restaurant/rest-interior-slider-02-mobile.jpg?width=61  1x,
                ./images/main-about-restaurant/rest-interior-slider-02-mobile.jpg?width=122 2x,
                ./images/main-about-restaurant/rest-interior-slider-02-mobile.jpg?width=183 3x
              "
              media="(max-width:1023px)"
              sizes=""
              type="image/jpeg"
            />
            <!-- Desktop -->
            <source
              srcset="
                ./images/main-about-restaurant/rest-interior-slider-02-desktop.jpg?as=webp&width=254 1x,
                ./images/main-about-restaurant/rest-interior-slider-02-desktop.jpg?as=webp&width=508 2x,
                ./images/main-about-restaurant/rest-interior-slider-02-desktop.jpg?as=webp&width=762 3x
              "
              media="(min-width:1280px)"
              sizes=""
              type="image/webp"
            />
            <source
              srcset="
                ./images/main-about-restaurant/rest-interior-slider-02-desktop.jpg?width=254 1x,
                ./images/main-about-restaurant/rest-interior-slider-02-desktop.jpg?width=508 2x,
                ./images/main-about-restaurant/rest-interior-slider-02-desktop.jpg?width=762 3x
              "
              media="(min-width:1280px)"
              sizes=""
              type="image/jpeg"
            />
            <!-- Tablet -->
            <source
              srcset="
                ./images/main-about-restaurant/rest-interior-slider-02-tablet.jpg?as=webp&width=194 1x,
                ./images/main-about-restaurant/rest-interior-slider-02-tablet.jpg?as=webp&width=388 2x,
                ./images/main-about-restaurant/rest-interior-slider-02-tablet.jpg?as=webp&width=582 3x
              "
              media="(min-width:1024px)"
              sizes=""
              type="image/webp"
            />
            <source
              srcset="
                ./images/main-about-restaurant/rest-interior-slider-02-tablet.jpg?width=194 1x,
                ./images/main-about-restaurant/rest-interior-slider-02-tablet.jpg?width=388 2x,
                ./images/main-about-restaurant/rest-interior-slider-02-tablet.jpg?width=582 3x
              "
              media="(min-width:1024px)"
              sizes=""
              type="image/jpeg"
            />
            <img
              class="slick-small__box"
              src="./images/main-about-restaurant/rest-interior-slider-02-desktop.jpg"
              alt="Photo of a banquet table with chairs"
            />
          </picture>
        </li>
      </ul>
      <div class="slick-small-arrows">
        <button class="slick-small-arrows__btn" type="button">
          <svg class="slick-small__prev">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="slick-small-arrows__btn" type="button">
          <svg class="slick-small__next">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

