<section class="details-hotel">
  <div class="details-hotel__container">
    <div class="details-hotel__flex-container">
      <div class="details-hotel__flex--desktop-margin">
        <div class="details-hotel__title-box">
          <div class="complex">
            <span class="complex__logo complex__logo--light" aria-label="Міміно"
              >Mimin<span>o</span></span
            >
          </div>
          <h2 class="details-title">Готель</h2>
          <p class="details-hotel__descr">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
        <div class="details-hotel__plug">
          <ul class="details-hotel__plug-list">
            <li class="details-hotel__plug-item">
              <img
                class="img"
                width="270"
                src="./images/frame22.jpg"
                alt="Стейк"
              />
            </li>
            <li class="details-hotel__plug-item">
              <img
                class="img"
                width="162"
                src="./images/frame25.jpg"
                alt="Стейк"
              />
            </li>
            <li class="details-hotel__plug-item">
              <img
                class="img"
                width="270"
                src="./images/frame26.jpg"
                alt="Стейк"
              />
            </li>
          </ul>
          <div class="details-hotel__plug-arrows">
            <button type="button">
              <svg class="plug-arrows__next" width="30" height="17">
                <use href="./images/icons.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button type="button">
              <svg class="plug-arrows__next" width="30" height="17">
                <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <!-- <button type="button">
                        <svg class="plug-arrows__next" width="30" height="17">
                            <use href="./images/icons.svg#icon-arrow-left">
                            </use>
                        </svg>
                    </button>
                    <button type="button">
                        <svg class="plug-arrows__next" width="30" height="17">
                            <use href="./images/icons.svg#icon-arrow-right">
                            </use>
                        </svg>
                    </button> -->
        </div>
      </div>
    </div>
    <div class="details-buttons">
      <button class="details-button js-open-modal" type="button" data-modal="2">
        Забронювати номер
      </button>
      <button class="details-button js-open-modal" type="button" data-modal="3">
        Переглянути ціни
      </button>
    </div>
  </div>

  <!-- <section class="slick" id='details-hotel__gallery'>

    <div class="container">
        <h2 class="visually-hidden">details-hotel__gallery</h2>
        <div class="slick__list responsive list">
            <button type="button" class="my-slick-prev slick-arrow" style="display: flex;">⟵</button>
            <div class="slick__item">
                <div class="slick__box">Fb#1</div>
            </div>
            <div class="slick__item">
                <div class="slick__box">Fb#2</div>
            </div>
            <div class="slick__item">
                <div class="slick__box">Fb#3</div>
            </div>
            <div class="slick__item">
                <div class="slick__box">Fb#4</div>
            </div>
            <div class="slick__item">
                <div class="slick__box">Fb#5</div>
            </div>
            <button type="button" class="my-slick-next slick-arrow" style="display: flex;">⟶</button>
        </div>
    </div>
</section> -->
  <!-- </div> -->
</section>
