<!-- <div class="container"> -->
<section class="details-restaurant">

    <div class="details-restaurant__flex-container">
        <div class="details-restaurant__flex--desktop-margin">
            <div class="details-restaurant__title-box">
                <div class="complex">
                    <span class="complex__logo" aria-label="Міміно">Mimino</span>
                </div>
                <h2 class="details-title">Ресторан</h2>
                <p class="details-restaurant__descr">Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do
                    amet
                    sint.
                    Velit
                    officia consequat duis enim velit
                    mollit.</p>
            </div>


            <div class="plug ">
                <ul class="plug-jpg">
                    <li class="plug-jpg__item">
                        <img class="img" width="270" src="./images/frame21.jpg" alt="Стейк">
                    </li>
                    <li class="plug-jpg__item">
                        <img class="img" width="162" src="./images/frame28.jpg" alt="Стейк">
                    </li>
                    <li class="plug-jpg__item">
                        <img class="img" width="270" src="./images/frame27.jpg" alt="Стейк">
                    </li>
                </ul>
                <div class="plug-arrows">
                    <button type="button">
                        <svg class="plug-arrows__next" width="30" height="17">
                            <use href="./images/icons.svg#icon-arrow-left">
                            </use>
                        </svg>
                    </button>
                    <button type="button">
                        <svg class="plug-arrows__next" width="30" height="17">
                            <use href="./images/icons.svg#icon-arrow-right">
                            </use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="details-buttons">
            <button class="details-button" type="button">Забронювати столик</button>
            <button class="details-button" type="button">Переглянути меню</button>
        </div>


        <!-- <section class="slick" id='details-restaurant__gallery'>
                <div class="container">
                    <h2 class="visually-hidden">details-restaurant__gallery</h2>
                    <div class="slick__list responsive list">
                        <button type="button" class="my-slick-prev slick-arrow" style="display: flex;">
                            <svg width="30" height="17">
                                <use href="./images/icons.svg#icon-arrow-left">
                                </use>
                            </svg></button>
                        <div class="slick__item">
                            <div class="slick__box">Fb#1</div>
                        </div>
                        <div class="slick__item">
                            <div class="slick__box">Fb#2</div>
                        </div>
                        <div class="slick__item">
                            <div class="slick__box">Fb#3</div>
                        </div>
                        <div class="slick__item">
                            <div class="slick__box">Fb#4</div>
                        </div>
                        <div class="slick__item">
                            <div class="slick__box">Fb#5</div>
                        </div>
                        <button type="button" class="my-slick-next slick-arrow" style="display: flex;">
                            <svg width="30" height="17">
                                <use href="./images/icons.svg#icon-arrow-right">
                                </use>
                            </svg>
                        </button>
                    </div>
                </div>
            </section> -->
    </div>
    <!-- </div> -->
</section>